<div class="main-container">
  <div class="container">
   <div class="buyerProfile">
    <div class="profile-block">
      <div class="profileLi row">
        <div class="col-sm-4">
          <div class="profilePic">
            <input style="display:none" type="file" id="profPic" file-model="model.profPic" accept="image/*" />
            <img src="/assets/images/img3.png" ng-if="!tempUrl" for="profPic" class="img-circle profile-img" />
            <img ng-src="{{tempUrl}}" for="profPic" class="img-circle profile-img" />
          </div>
          <label class="pro-upload" for="profPic">
            <span class="upload-txt-hide">Upload Logo</span>
          </label>

        </div>
        <div class="col-sm-8 contra-det">              
          <ul>
            <li ng-show="!vm.edtName">
              <h3>
                <span ng-bind="vm.user.firstName"></span>
                <span ng-bind="vm.user.lastName"></span>

                <span class="fa edit-icon fa-edit" ng-click="vm.edtName=!vm.edtName"></span>
                <span ng-show="vm.edtInfo" class="animate-show"></span>
              </h3>
            </li>
            <li ng-show="vm.edtName">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" ng-model="vm.user.firstName" />
                                       <input class="form-control" type="text" ng-model="vm.user.lastName" />
                  
                  <div class="input-group-addon"><span class="fa fa-check-square-o" ng-click="vm.editProfile('name')"></span></div>
                </div>
              </div>
            </li>
            <li ng-show="!vm.edtPhone" class="phone-edit">
              <span ng-bind="vm.user.phone" class="phone-txt"></span>
              <span class="fa edit-icon fa-edit  " ng-click="vm.edtPhone=!vm.edtPhone"></span>
              <span class="no-verified" ng-show="vm.user.phoneNumberConfirmed == 1">Verified <i class="fa fa-check"></i></span>
              <span class="no-not-verified" ng-show="vm.user.phoneNumberConfirmed == 0">Not Verified <i class="fa fa-close"></i></span>
              <span class="verifybtn" ng-hide="vm.verifyMobileClk || vm.user.phoneNumberConfirmed == 1" ng-click="vm.verifyMobile()">Verify Now</span>
              <span ng-show="vm.showOTP" class="otp-block">
                <input class="form-control" placeholder="Enter OTP" maxlength="6" type="text" ng-model="vm.OTP" />
                <i href="#" class="fa fa-refresh" ng-show="vm.showOTP" ng-click="vm.resendOTP()" uib-tooltip="Resend OTP"></i>
                <i href="#" class="fa fa-sign-in" ng-click="vm.validOTP()" ng-show="vm.showOTP && vm.OTP.length == 6" uib-tooltip="Send"></i>
              </span>
              <span ng-show="vm.edtInfo" class="animate-show"></span>
            </li>

            <li ng-show="vm.edtPhone">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" ng-model="vm.user.phone" />
                  <div class="input-group-addon"><span class="fa fa-check-square-o" ng-click="vm.editProfile('phone')" ></span></div>
                </div>
              </div>
            </li>    

            <li ng-show="!vm.edtCountry">
              <img src="/assets/images/india-icon.png" class="img-circle flag" />
              <span ng-bind="vm.user.countryName" class="country-txt"></span>
              <span class="fa edit-icon fa-edit" ng-click="vm.edtCountry=!vm.edtCountry"></span>
              <span ng-show="vm.edtInfo" class="animate-show"></span>
            </li>
            <li ng-show="vm.edtCountry">
              <div class="input-group">
                <select class="form-control" ng-model="vm.user.country"
                style="border:1; -webkit-appearance: none; -moz-appearance: none; background:url(assets/images/arrow.png) no-repeat;background-position:right center !important; margin-right:2px;"
                ng-options="country.name as (country.name) for country in vm.countries"></select>
                <div class="input-group-addon"><span class="fa fa-check-square-o" ng-click="vm.edtCountry=!vm.edtCountry"></span></div>
              </div>
            </li>              
          </ul>
        </div>
      </div>
      <div class="clear0"></div>
    </div>
    <div class="alert alert-success" ng-show="vm.contactorSuccess">
     <strong>Success!</strong> Contractor info saved successfully !!!.
   </div>
   <div class="tabs-block">
     <div class="container-fluid">
      <div class="row">
       <div class="col-sm-12">
        <div class="form-group" ng-class="{'has-error': (!vm.buyer.company || vm.buyer.company == '')  && vm.companyError}">
         <div class="input-group marginRight-0 col-sm-12 col-xs-12">
          <input type="text" name="companyName" id="cName" ng-model="vm.buyer.company"
          sync-focus-with="vm.enbCompanyName"
          ng-readonly="!vm.enbCompanyName" 
          focus-me="vm.enbCompanyName"
          class="form-control" placeholder="Company Name*"
          ng-click="vm.enbCompanyName=!vm.enbCompanyName"/>
          <!--<div style="cursor:pointer" class="input-group-addon"><span class="fa fa-edit" ng-click="vm.enbCompanyName=!vm.enbCompanyName"></span></div>-->
        </div>							
      </div>
      <div class="form-group" ng-class="{'has-error': (!vm.buyer.address || vm.buyer.address == '')  && vm.addressError}">
       <div class="input-group input-groupA marginRight-0 col-sm-12 col-xs-12">
         <textarea class="form-control"
         rows="3" sync-focus-with="vm.enbCompanyAdd" 
         focus-me="vm.enbCompanyAdd"
         ng-readonly="!vm.enbCompanyAdd" id="textArea"
         ng-model="vm.buyer.address"
         ng-click="vm.enbCompanyAdd=!vm.enbCompanyAdd" 
         placeholder="Address of Bussiness"></textarea>
         <!--<div style="cursor:pointer" class="input-group-addon"><span class="fa fa-edit" ng-click="vm.enbCompanyAdd=!vm.enbCompanyAdd"></span></div>-->
       </div>							
     </div>
     <div class="form-group">
       <span class="form-title">Looking for ?</span>
       <div class="input-group input-groupA marginRight-0 col-sm-12">
        <input type="text" placeholder="Search Normal..."
        ng-model="vm.buyerDetail.Keyword"
        uib-typeahead="k.keywordName for k in vm.getKeywords($viewValue)"
        typeahead-loading="loadingKeywords"
        typeahead-no-results="noResults"
        typeahead-min-length="2"
        typeahead-on-select="vm.addKeyword($item)"
        class="form-control">
        <span ng-click="vm.addKeyword(vm.companyDetail.Keyword)" style="cursor:pointer" class="input-group-addon">&#43;</span>								
      </div>
    </div>
    <div class="form-group">
     <div class="added-keywords">
      <div class="keyword" ng-repeat="k in vm.selectedKeywords track by $index">
       <p>{{k.keywordName}} </p><span style="cursor:pointer" class="fa fa-remove" ng-click="vm.removeKeyword($index)"></span>
     </div>								
   </div>
 </div>
 <div class="form-group">
   <button class="loginBtn pull-right" ng-click="vm.validateForm()">Submit &nbsp; &#x276f;</button>					
 </div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>