<div class="container main-container">
    <ul class="nav nav-tabs adminDashboard_tabs_wrap">
        <li class="active"><a ui-sref="companyDashboard">Dashboard</a></li>
        <li><a ui-sref="contractorProfile">Profile</a></li>
    </ul>

    <div class="row rowsection" ng-show="!companyDashboard.progress">
        <div class="col-md-8 padding5">
            <div class="col-md-12 greyBackground padding-tb0">
                <div class="whiteBackground company-review-box">
                    <h2>Keyword Listings</h2>
                    <div class="tending-chart-box" style="margin-top: 1em;" ng-show="companyDashboard.keywordListing.keyword">
                        <div class="col-md-4">
                            <div class="company-review-box">
                                <h2>
                                    <span ng-if="companyDashboard.keywordListing.keyword.packageDaysRemaining > 0">
									{{companyDashboard.keywordListing.keyword.packageDaysRemaining}}
									<p>Package Days Left</p>
								</span>
                                    <span ng-if="companyDashboard.keywordListing.keyword.packageDaysRemaining < 0">

                                    <p style="color: red;">EXPIRED</p>
                                </span>
                                    <span>
									{{companyDashboard.keywordListing.keyword.packageDays}}
									<p>Total Package Days</p>
								</span>
                                </h2>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <select class="form-control" ng-model="companyDashboard.keywordListing.keyword" name="KeywordListingSelection" ng-options="keyword as keyword.keywordName for keyword in companyDashboard.packageSummary"></select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div date-range-picker class="form-control date-picker" min="companyDashboard.keywordListing.keyword.dateCreated" max="companyDashboard.keywordListing.keyword.dateExpiry" readonly ng-model="companyDashboard.date" options="{format: 'mm/dd/yyyy'}">{{companyDashboard.date.startDate.toDate() | date: 'MM/dd/yyyy'}} - {{companyDashboard.date.endDate.toDate() | date: 'MM/dd/yyyy'}}</div>
                                    <!-- <input type="text" name="KeywordListingDateRange" class="form-control date-picker" date-range-picker ng-model="companyDashboard.date"  readonly="true"> -->
                                </div>
                            </div>
                            <div class="row whiteBackground" ng-if="companyDashboard.packageSummary.length">
                                <nvd3 options="companyDashboard.keywordUsageChartOptions" data="companyDashboard.keywordUsageChartData"></nvd3>
                            </div>
                        </div>
                    </div>
                    <div class="tending-chart-box" ng-hide="companyDashboard.keywordListing.keyword">
                        <p style="text-align: center;">NO DATA AVAILABLE</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 padding5">
            <div class="col-md-12 greyBackground padding-tb0">
                <div class="whiteBackground company-review-box">
                    <h2>Package Summary</h2>
                    <div class="tending-chart-box cd_packagesum_wrap packageSummary_slider" ng-show="companyDashboard.packageSummary">
                        <div class="packageSummary_slider_leftarrow" ng-click="companyDashboard.previousSlide()">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </div>
                        <div uib-carousel active="companyDashboard.activeSlide" no-wrap="false" no-pause="true">
                            <div uib-slide ng-repeat="pkgSummary in companyDashboard.packageSummary track by $index" index="$index">
                                <h3 class="cd_packagesum_pname">{{pkgSummary.packageName}}</h3>
                                <p>
                                    <strong class="color_lg">Package Price : </strong>
                                    <span>{{pkgSummary.savedTotalPrice | currency:"&#8377;"}}</span>
                                </p>
                                <p>
                                    <strong class="color_lg">Package Days : </strong>
                                    <span>{{pkgSummary.packageDays}}</span>
                                </p>

                                <p>
                                    <strong class="color_lg">Keyword Name : </strong>
                                    <span>{{pkgSummary.keywordName}}</span>
                                </p>
                                <p>
                                    <strong class="color_lg">Keyword Original Price : </strong>
                                    <span>{{pkgSummary.savedPrice | currency:"&#8377;"}}</span>
                                </p>
                                <p>
                                    <strong class="color_lg">Keyword Current Price : </strong>
                                    <span>{{pkgSummary.currentPrice | currency:"&#8377;"}}</span>
                                </p>

                            </div>
                        </div>
                        <div class="packageSummary_slider_rightarrow" ng-click="companyDashboard.nextSlide()">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="tending-chart-box" ng-hide="companyDashboard.packageSummary">
                        <p style="text-align: center;">NO DATA AVAILABLE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>

    <div class="row rowsection">
        <div class="col-md-8 padding5">

            <!-- MAP -->
            <div class="col-md-12 greyBackground padding-tb0">
                <div class="whiteBackground company-review-box">
                    <h2> Trending Keywords</h2>

                    <div class="btn-group">
                        <label class="btn btn-success" ng-model="companyDashboard.changeGraph" ng-click="companyDashboard.graphTypeChanged(companyDashboard.changeGraph)" uib-btn-radio="'all'" uncheckable>All Keywords
									</label>
                        <label class="btn btn-success" ng-model="companyDashboard.changeGraph" ng-click="companyDashboard.graphTypeChanged(companyDashboard.changeGraph)" uib-btn-radio="'my'" uncheckable>My Keywords
									</label>
                    </div>

                    <div class="tending-chart-box">
                        <div class="row" style="margin-top: 1em;margin-bottom: 1em;">
                            <div class="col-sm-4 col-md-offset-4">
                                <div class="btn-group">
                                    <label class="btn btn-success" ng-model="companyDashboard.graphType" ng-click="companyDashboard.graphTypeChanged(companyDashboard.changeGraph)" uib-btn-radio="'D'" uncheckable>Day
									</label>
                                    <label class="btn btn-success" ng-model="companyDashboard.graphType" ng-click="companyDashboard.graphTypeChanged(companyDashboard.changeGraph)" uib-btn-radio="'W'" uncheckable>Week
									</label>
                                    <label class="btn btn-success" ng-model="companyDashboard.graphType" ng-click="companyDashboard.graphTypeChanged(companyDashboard.changeGraph)" uib-btn-radio="'M'" uncheckable>Month
									</label>
                                </div>
                            </div>
                        </div>
                        <nvd3 options="companyDashboard.trendingChartOptions" data="companyDashboard.trendingChartData"></nvd3>
                    </div>
                </div>
            </div>
            <!-- MAP -->

        </div>
        <div class="col-md-4 padding5">
            <div class="col-md-12 greyBackground padding-tb0">
                <div class="whiteBackground company-review-box">
                    <h2> Company Reviews</h2>
                    <div ng-show="companyDashboard.contractorRatingsData.length">
                        <ul class="company-list-section" ng-repeat="contractorRating in companyDashboard.contractorRatingsPagedData | limitTo: companyDashboard.itemsPerPage">
                            <li ng-click="companyDashboard.openRatingModal(contractorRating)">
                                <div class="col-md-12 col-xs-12 padding-tb0 companyreviews_rating">
                                    <div class="col-md-3 col-xs-3 padding-tb0">
                                        <div class="companyreviews_rating_pp">
                                            <img ng-src="{{contractorRating.url}}" class="img-responsive" alt="No Image">
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-xs-9 company-section-box">
                                        <div class="companyreviews_rating_textwrap">
                                            <h3 class="companyreviews_rating_texttitle col-md-12 padding0">{{contractorRating.companyName || "My Company"}}</h3>
                                            <div class="companyreviews_rating_star col-md-12">
                                                <span ng-repeat="d in companyDashboard.range(contractorRating.contractorRatings) track by $index">★</span>
                                                <!-- <span uib-rating ng-model="contractorRating.contractorRatings" max="5" read-only="true" aria-labelledby="default-rating"></span> -->{{contractorRating.contractorRatings}}
                                            </div>
                                            <div class="companyreviews_rating_text">
                                                {{contractorRating.contractorReview}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul uib-pagination total-items="companyDashboard.contractorRatingsData.length" ng-model="companyDashboard.currentPage" items-per-page="companyDashboard.itemsPerPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-show="companyDashboard.contractorRatingsData.length"></ul>
                    </div>
                    <div ng-hide="companyDashboard.contractorRatingsData.length">
                        <p>No Reviews yet.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- <div ng-controller="AdminCtrl">
                        <script type="text/javascript">
                      window.onload = function () {
                        var chart = new CanvasJS.Chart("chartContainer",
                        {
                          title:{
                            text: "Gold Won in Olympics"             
                          }, 
                          animationEnabled: true,     
                          axisY:{
                            titleFontFamily: "arial",
                            titleFontSize: 12,
                            includeZero: false
                          },
                          toolTip: {
                            shared: true
                          },
                          data: [
                          {        
                            type: "spline",  
                            name: "US",        
                            showInLegend: true,
                            dataPoints: [
                            {label: "Atlanta 1996" , y: 44} ,     
                            {label:"Sydney 2000", y: 37} ,     
                            {label: "Athens 2004", y: 34} ,     
                            {label: "Beijing 2008", y: 36} ,     
                            {label: "London 2012", y: 46}              
                            ]
                          }, 
                          {        
                            type: "spline",  
                            name: "China",        
                            showInLegend: true,
                            dataPoints: [
                            {label: "Atlanta 1996" , y: 16} ,     
                            {label:"Sydney 2000", y: 28} ,     
                            {label: "Athens 2004", y: 32} ,     
                            {label: "Beijing 2008", y: 51} ,     
                            {label: "London 2012", y: 38}              
                            ]
                          },
                          {        
                            type: "spline",  
                            name: "Britain",        
                            showInLegend: true,
                            dataPoints: [
                            {label: "Atlanta 1996" , y: 1} ,     
                            {label:"Sydney 2000", y: 11} ,     
                            {label: "Athens 2004", y: 9} ,     
                            {label: "Beijing 2008", y: 19} ,     
                            {label: "London 2012", y: 29}              
                            ]
                          },
                          {        
                            type: "spline",  
                            name: "Russia",        
                            showInLegend: true,
                            dataPoints: [
                            {label: "Atlanta 1996" , y: 26} ,     
                            {label:"Sydney 2000", y: 32} ,     
                            {label: "Athens 2004", y: 28} ,     
                            {label: "Beijing 2008", y: 23} ,     
                            {label: "London 2012", y: 24}              
                            ]
                          },
                          {        
                            type: "spline",  
                            name: "S Korea",        
                            showInLegend: true,
                            dataPoints: [
                            {label: "Atlanta 1996" , y: 7} ,     
                            {label:"Sydney 2000", y: 8} ,     
                            {label: "Athens 2004", y: 9} ,     
                            {label: "Beijing 2008", y: 13} ,     
                            {label: "London 2012", y: 13}              
                            ]
                          },  
                          {        
                            type: "spline",  
                            name: "Germany",        
                            showInLegend: true,
                            dataPoints: [
                            {label: "Atlanta 1996" , y: 20} ,     
                            {label:"Sydney 2000", y: 13} ,     
                            {label: "Athens 2004", y: 13} ,     
                            {label: "Beijing 2008", y: 16} ,     
                            {label: "London 2012", y: 11}              
                            ]
                          }      
                          ],
                          legend:{
                            cursor:"pointer",
                            itemclick:function(e){
                              if(typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                                e.dataSeries.visible = false;
                              }
                              else {
                                e.dataSeries.visible = true;            
                              }
                              chart.render();
                            }
                          }
                        });

                    chart.render();
                    }
                    </script>
                    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
            </div>
        </div>
        <div class="col-md-4 greyBackground padding-tb0">
            <div class="whiteBackground company-review-box">
                <h2> Company Reviews</h2>
                <ul class="company-list-section">
                    <li>
                        <div class="col-md-12 padding-tb0">
                            <div class="col-md-3 padding-tb0">
                                <img src="images/img1.png" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-9 padding-tb0 company-section-box">
                                <h3>Company Name 1<span>4.5</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lectus imperdiet, luctus ligula non, tempus tortor.</p>
                                <a href="#companyDashboard">Read full review</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-12 padding-tb0">
                            <div class="col-md-3 padding-tb0">
                                <img src="images/img2.png" class="img-responsive" alt="">
                            </div>
                            <div class="col-md-9 padding-tb0 company-section-box">
                                <h3>Company Name2 <span>4.5</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet lectus imperdiet, luctus ligula non, tempus tortor.</p>
                                <a href="#companyDashboard">Read full review</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 greyBackground padding-tb0" style="margin: 10px 0px    ">
            <div class="col-md-12 whiteBackground company-review-box">
                <div class="col-md-4">
                    <div id="chartContainer1" style="height: 200px; width: 100%;"></div>
                    <script type="text/javascript">
                    window.onload = function() {
                        var chart = new CanvasJS.Chart("chartContainer1", {
                            title: {
                                text: "Pie Chart"
                            },
                            data: [{
                                type: "doughnut",
                                dataPoints: [{
                                    y: 4181563
                                }, {
                                    y: 2175498
                                }, {
                                    y: 3125844
                                }, {
                                    y: 1176121
                                }, {
                                    y: 1727161
                                }, {
                                    y: 4303364
                                }, {
                                    y: 1717786
                                }]
                            }]
                        });
                        chart.render();
                    }
                    </script>
                </div>
                <div class="col-md-8">
                </div>
            </div>
        </div>
    </div>
    </div> -->