<div class="modal-header modalheader_custom">
    <h3 class="modal-title modaltitle_custom" id="modal-title">Ratings from {{companyDashboard.selectedRating.companyName || "My Company"}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-3 col-xs-3 companyreviews_rating_pp">
				<img ng-src="{{companyDashboard.selectedRating.url}}" class="img-responsive" alt="No Image">
                <!-- <img ng-src="{{companyDashboard.getImageUrl(contractorRating.selectedRating.buyerInformationId)}}" class="img-responsive" alt="No Image"> -->
            </div>
            <div class="col-md-9 col-xs-9 padding-tb0 company-section-box">
                <h3 class="companyreviews_rating_texttitle col-md-12 padding0">{{companyDashboard.selectedRating.companyName || "My Company"}}</h3>
				<div class="companyreviews_rating_star col-md-12">
					<span ng-repeat="d in companyDashboard.range(companyDashboard.selectedRating.contractorRatings) track by $index">★</span>
					<!-- <span uib-rating ng-model="companyDashboard.selectedRating.contractorRatings" max="5" read-only="true" aria-labelledby="default-rating"> --></span>{{companyDashboard.selectedRating.contractorRatings}}
				</div>
                <div class="companyreviews_rating_text">
                    {{companyDashboard.selectedRating.contractorReview}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="cancelBtn btn cancel_btn_custom" type="button" ng-click="companyDashboard.cancelRatingsModal()">Cancel</button>
</div>
