<nav class="navbar navbar-default navbar-fixed-top wrapperHead">
    <div class="container">
        <!--ng-click="menuOpen = !menuOpen?true: false"-->
        <div class="row">
            <div class="navbar-header col-xs-4 col-sm-4 logo">
                <a href="/"><img src="../assets/images/main-logo.png"></a>
            </div>
            <div class="howitworksaboutus col-xs-5 col-sm-5">
                <div class="howitworksaboutus_inner">
                    <div class="howitworks col-xs-12 col-sm-3" ng-click="headerController.clkHowItWorks()" style="cursor:pointer" ng-hide="headerController.data.isLoggedIn">How it works</div>
                    <span ng-hide="headerController.data.isLoggedIn">|</span>
                    <div class="howitworks col-xs-12 col-sm-3" id="homeaboutus" style="cursor:pointer" ng-click="headerController.clkAbtUs()" ng-hide="headerController.data.isLoggedIn">About Us</div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="pull-right col-xs-6 col-sm-4 text-right loggedin-block" ng-show="headerController.data.isLoggedIn">
                <img style="vertical-align:middle; padding:1px; width:30px;" src="/assets/images/img_avatar.png" ng-if="!tempUrl" class="img-rounded">
                <img ng-src="{{tempUrl}}" ng-if="tempUrl" style="vertical-align:middle; padding:1px; width:40px;height:40px" class="img-rounded" />
                <md-menu class="pro-ddown">
                    <md-button aria-label="Open phone interactions menu" class="login-arrow" ng-click="headerController.openMenu($mdMenu, $event)">
                        <label class="login-arrow">{{firstName}} {{lastName}}</label>
                    </md-button>

                    <md-menu-content width="4" class="pro-ddown-list">
                        <md-menu-item>
                            <md-button ng-click="headerController.goHome()">
                                Home
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="headerController.data.user.userName == null || headerController.data.user.isContractor || headerController.data.user.isAdmin">
                            <md-button ng-click="headerController.viewDashboard()">
                                View Dashboard
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="headerController.viewProfile()">
                                View Profile
                            </md-button>
                        </md-menu-item>
                        <!-- <md-menu-divider></md-menu-divider> -->
                        <md-menu-item>
                            <md-button ng-click="headerController.changePassword()">
                                Change Password
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="headerController.signOut()">
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <!-- <div class="pull-right col-xs-6 col-sm-3 text-right loggedin-block " ng-show="headerController.data.isLoggedIn">
				<ul id="menu">
				  <img style="vertical-align:middle; padding:1px; width:30px; margin-top: 6px " src="/assets/images/img_avatar.png" class="img-rounded">
				  <li>
					<input id="check01" ng-model="menuOpen" type="checkbox" name="menu" />
					<label for="check01" class="login-arrow">{{headerController.data.user.firstName}} {{headerController.data.user.lastName}}</label>
					<ul class="submenu">
					  <li><a href="homePage1" ng-click="menuOpen=false">Home</a></li>
					  <li><a href="#" ng-click="headerController.viewProfile();menuOpen=false">View Profile</a></li>
					  <li><a href="#" ng-click="headerController.signOut();menuOpen=false">Logout</a></li>
					</ul>
				  </li>
				</ul>
			</div> -->

            <div class="text-right loginLink col-xs-3 col-sm-3 pull-right login-block" ng-show="!headerController.data.isLoggedIn">
                <div class="loginLink_inner">
                    <a class="" style="cursor:pointer" ng-click="headerController.login()"> Login</a> |
                    <a class="" style="cursor:pointer" ng-click="headerController.signUp()">Sign-up</a>
                    <span style="
					visibility: visible;
					width: 160px;
					background-color: #00C91B;
					color: #fff;
					text-align: center;
					border-radius: 6px;
					padding: 15px 0;
					position: absolute;
					z-index: 1;
					bottom: -298%;
					left: 75%;
					margin-left: -80px;
					height: 51px;
					content: ;
					
					">Register! It's Free </span>
                </div>
            </div>
        </div>
    </div>
</nav>