﻿<div class="main-container">
  <div class="container" style="min-height: 450px;">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h3 class="text-center">Reset Password</h3>
      <div class="row">
        <div>
          <input type="text" ng-model="vm.userId"
                 ng-disabled="true"
                 class="form-control" placeholder="User ID" />
        </div>
        <br />
        <div ng-class="{'has-error': ((!vm.password || vm.password == '')  && vm.passwordError) || vm.passwordError}" class="pwd-input">

          <input type="password" ng-keyup="$event.keyCode == 9 || vm.validateForm('passwrd')"
                 name="pwd" id="pwd" ng-model="vm.password" class="form-control" placeholder="Password*" ng-focus="onselect = true"
                 ng-blur="onselect = false" />
          <span ng-show="onselect">Password must contain at least 8 characters</span>
          <span ng-show="(!!vm.password && !vm.passwordError)" class="fa fa-2x fa-thumbs-o-up"></span>
        </div>
        <br />
        <div ng-class="{'has-error': (!vm.confPassword || vm.confPassword == '' || vm.confPassword != vm.password)  && vm.confPasswordError}" class="pwd-input">
          <input type="password" ng-keyup="$event.keyCode == 9 || vm.validateForm('cnfrmPass')" ng-model="vm.confPassword" class="form-control" placeholder="Confirm Password*" />
          <span ng-show="(!!vm.confPassword && !vm.confPasswordError)" class="fa fa-2x fa-thumbs-o-up"></span>
        </div>
        <br />
        <div style="text-align: right;">
          <input type="submit" ng-click="vm.submitForm()" class="loginBtn" value="Reset" />
        </div>
      </div>
    </div>
  </div>
</div>
