<style type="text/css">
    .typeahead-demo .custom-popup-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        /*background-color: #f9f9f9;*/
    }
    
    .typeahead-demo .custom-popup-wrapper>.message {
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        color: #868686;
    }
    
    .typeahead-demo .custom-popup-wrapper>.dropdown-menu {
        position: static;
        float: none;
        display: block;
        min-width: 160px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
</style>
<div class="main-container">
    <ul class="nav nav-tabs adminDashboard_tabs_wrap">
        <li><a ui-sref="adminDashboard">Dashboard</a></li>
        <li class="active"><a ui-sref="adminProfile">Profile</a></li>
    </ul>
    <div class="row adminprofile">
        <div class="col-sm-6 adminprofiletable">
            <div class="adminprofiletableinner">
                <form name="CategoryForm">
                    <div class="form-group col-sm-12 padding0" style="line-height:32px">
                        <label>Category</label>
                    </div>
                    <div class="form-group col-sm-9" ng-class="{'has-error': !CategoryForm.CategoryNameInput.$pristine && CategoryForm.CategoryNameInput.$invalid}">
                        <div class="input-group input-groupA">
                            <input type="text" name="CategoryNameInput" class="form-control" placeholder="Type/Search a category" aria-describedby="basic-addon2" ng-model="adminProfileController.category.name" required>
                            <span style="cursor:pointer" class="input-group-addon" ng-click="adminProfileController.openCategoryModal(adminProfileController.category,categoryResults, CategoryForm.CategoryNameInput.$invalid)">&#43;</span>
                        </div>
                    </div>
                </form>
                <div class="form-group col-sm-12 padding0 margin0">
                    <div class="top-keyword-box">
                        <table class="table table-bordered packageSummaryTable header-fixed">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in adminProfileController.categoryHeaders">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="category in adminProfileController.categoryData | filter:{name : adminProfileController.category.name} as categoryResults" ng-include="adminProfileController.getCategoryTemplate(category)">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 adminprofiletable">
            <div class="adminprofiletableinner">
                <div class="form-group col-sm-12 padding0" style="line-height:32px">
                    <label>Keyword</label>
                </div>
                <form name="KeywordForm">
                    <div class="form-group col-sm-3 pr0 margin0" ng-class="{'has-error': !KeywordForm.KeywordCategoryInput.$pristine && KeywordForm.KeywordCategoryInput.$invalid}">
                        <div class="input-group input-groupA">
                            <select class="form-control" name="KeywordCategoryInput" ng-model="adminProfileController.keyword.category" id="selectCategory" ng-options="categoryOption.id as categoryOption.name for categoryOption in adminProfileController.categoryData" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6" ng-class="{'has-error': !KeywordForm.KeywordNameInput.$pristine && KeywordForm.KeywordNameInput.$invalid}">
                        <div class="input-group input-groupA">
                            <input type="text" name="KeywordNameInput" class="form-control" placeholder="Type/Search here" aria-describedby="basic-addon2" ng-model="adminProfileController.keyword.name" required>
                            <span class="input-group-addon" ng-click="adminProfileController.openKeywordModal(adminProfileController.keyword, keywordsresult, KeywordForm.KeywordNameInput.$invalid, KeywordForm.KeywordCategoryInput.$invalid)">&#43;</span>
                        </div>
                    </div>
                </form>
                <div class="form-group col-sm-12 padding0 margin0">
                    <div class="top-keyword-box">
                        <table class="table table-bordered packageSummaryTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in adminProfileController.keywordHeaders">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="keyword in adminProfileController.keywordData | filter:{keywordName: adminProfileController.keyword.name} as keywordsresult" ng-include="adminProfileController.getKeywordTemplate(keyword)">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>





        <div class="col-sm-6 adminprofiletable">
            <div class="adminprofiletableinner">
                <div class="form-group col-sm-12 padding0" style="line-height:32px">
                    <label>Top Services</label>
                </div>
                <div class="form-group col-sm-12">
                    <input type="text" name="ServicesSearch" class="form-control" placeholder="Search by name" ng-model="adminProfileController.Services.searchTerm">
                </div>
                <div style="clear: both;"></div>
                <div class="col-md-12">
                    <div class="top-keyword-box">
                        <table class="table table-bordered packageSummaryTable">
                            <thead>
                                <tr>
                                    <th colspan="2">Services</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Service in adminProfileController.Services | filter: {KeywordName : adminProfileController.Services.searchTerm}">
                                    <td colspan="2">{{Service.KeywordName}}</td>
                                    <td>
                                        <button class="btn btn-success" ng-if="Service.Top == 0" ng-click="adminProfileController.setTopService(Service)">Select</button>
                                        <button class="btn btn-default btn-sm adminprofile_savebtn" ng-if="Service.Top == 1" ng-click="adminProfileController.setTopService(Service)">Selected</button>
                                        <!-- <button class="btn btn-success" ng-if="Service.Top == 1" ng-click="adminProfileController.setTopService(Service)">Selected</button> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-6 adminprofiletable">
            <div class="adminprofiletableinner">
                <div class="form-group col-sm-12 padding0" style="line-height:32px">
                    <label>Top Contractors</label>
                </div>
                <div class="form-group col-sm-12">
                    <input type="text" name="ContractorSearch" class="form-control" placeholder="Search by name" ng-model="adminProfileController.Contractors.searchTerm">
                </div>
                <div style="clear: both;"></div>
                <div class="col-md-12">
                    <div class="top-keyword-box">
                        <table class="table table-bordered packageSummaryTable">
                            <thead>
                                <tr>
                                    <th colspan="2">Contractor Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Contractor in adminProfileController.Contractors | filter: {CompanyName : adminProfileController.Contractors.searchTerm}">
                                    <td colspan="2">{{Contractor.CompanyName}}</td>
                                    <td>
                                        <button class="btn btn-success" ng-if="Contractor.Top == 0" ng-click="adminProfileController.setTopContractor(Contractor)">Select</button>
                                        <button class="btn btn-default btn-sm adminprofile_savebtn" ng-if="Contractor.Top == 1" ng-click="adminProfileController.setTopContractor(Contractor)">Selected</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div style="clear: both;"></div>





        <div class="col-sm-6 adminprofiletable">
            <div class="adminprofiletableinner">
                <div class="form-group col-sm-12 padding0" style="line-height:32px">
                    <label>Create New Listing Package</label>
                </div>
                <div style="clear:both"></div>
                <form name="PackageForm">
                    <div class="form-group col-sm-9 margin0" ng-class="{'has-error': !PackageForm.PackageName.$pristine && PackageForm.PackageName.$invalid}">
                        <div class="input-group input-groupA">
                            <input type="text" name="PackageName" class="form-control" placeholder="Search/Add Package Name" aria-describedby="basic-addon2" ng-model="adminProfileController.package.name" required>
                            <span class="input-group-addon" ng-click="adminProfileController.openListPackageModal(adminProfileController.package, packageResults, PackageForm.PackageName.$invalid)">&#43;</span>
                        </div>
                    </div>
                </form>
                <div class="form-group col-sm-12 padding0 margin0">
                    <div class="top-keyword-box">
                        <table class="table table-bordered packageSummaryTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in adminProfileController.packageListingHeaders">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="package in adminProfileController.packageListingData | filter:{name: adminProfileController.package.name} as packageResults" ng-include="adminProfileController.getPackageTemplate(package)">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 adminprofiletable">
            <div class="adminprofiletableinner">
                <div class="form-group col-sm-12 padding0" style="line-height:32px">
                    <label>Create Pricing</label>
                </div>
                <div class="">
                    <div style="clear:both"></div>
                    <div class="form-group col-sm-3 padding0 margin0">
                        <div class="input-group">
                            <input type="number" name="RankFrom" placeholder="From(Rank)" class="form-control" ng-model="adminProfileController.pricing.from">
                        </div>
                    </div>
                    <div class="form-group col-sm-3 padding0 margin0">
                        <div class="input-group">
                            <input type="number" name="RankTo" placeholder="To(Rank)" class="form-control" ng-model="adminProfileController.pricing.to">
                        </div>
                    </div>
                    <div class="form-group col-sm-3 padding0 margin0">
                        <div class="input-group input-groupA">
                            <input type="number" name="RankPrice" placeholder="Price" class="form-control" aria-describedby="basic-addon2" ng-model="adminProfileController.pricing.price">
                            <span class="input-group-addon" ng-click="adminProfileController.addPrice(adminProfileController.pricing)">&#43;</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-1">
                        <a style="margin-left: 5px;" class="package-delete-icon" ng-click="adminProfileController.deletePrice()"></a>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default btn-sm adminprofile_savebtn" ng-disabled="!adminProfileController.isPriceDirty" ng-click="adminProfileController.openPriceModal()">Save</button>
                    </div>
                </div>
                <div style="clear:both"></div>
                <div class="form-group col-sm-12 padding0 margin0">
                    <div class="top-keyword-box">
                        <table class="table table-bordered packageSummaryTable">
                            <thead>
                                <tr>
                                    <th ng-repeat="header in adminProfileController.pricingHeaders">{{header}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pricing in adminProfileController.pricingData" ng-include="adminProfileController.getPricingTemplate(pricing)">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12">
                    <strong>Base Price : </strong>
                    <!-- {{adminProfileController.basePrice | currency:"&#8377;"}} -->

                    <ul>
                     <li ng-show="!vm.edtPrice">
                       <h3>
                         <span ng-bind="adminProfileController.basePrice"></span>
                         <span class="fa edit-icon fa-edit" ng-click="vm.edtPrice=!vm.edtPrice"></span>
                         <span ng-show="vm.edtInfo" class="animate-show"></span>
                     </h3>
                 </li>
                 <li ng-show="vm.edtPrice">
                   <div class="form-group">
                     <div class="input-group">
                       <input class="form-control" type="number" ng-model="adminProfileController.basePrice" />
                       <div class="input-group-addon"><span class="fa fa-check-square-o" ng-click="adminProfileController.editBasePrice()"></span></div>
                   </div>
               </div>
           </li>
       </ul>

   </div>
</div>
</div>
<div style="clear:both"></div>
<div class="col-sm-12 adminprofiletable">
    <div class="adminprofiletableinner">
        <div class="form-group col-sm-12 padding0" style="line-height:32px">
            <label>Keyword Details</label>
        </div>
        <div class="form-group col-sm-6">
            <input type="text" name="KewordDetailSearch" class="form-control" placeholder="Search here by Keyword Name" ng-model="adminProfileController.keywordDetail.searchTerm">
        </div>
                <!-- <div class="col-sm-4">
                <button class="btn btn-info" ng-click="adminProfileController.testClick()">Click Test</button>
            </div> -->
            <div style="clear: both;"></div>
            <div class="col-md-12">
                <div class="top-keyword-box">
                    <table class="table table-bordered packageSummaryTable">
                        <thead>
                            <tr>
                                <th ng-repeat="header in adminProfileController.keywordDetailsHeaders">{{header}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="keywordDetail in adminProfileController.keywordDetailsData | filter: {keywordName : adminProfileController.keywordDetail.searchTerm}">
                                <td>{{keywordDetail.keywordName}}</td>
                                <td>{{keywordDetail.categoryName}}</td>
                                <td>{{keywordDetail.rank}}</td>
                                <td>{{keywordDetail.price | currency:"&#8377;"}}</td>
                                <td>{{keywordDetail.count}}</td>
                                <td><a href="" ng-click="adminProfileController.openContractorListModal(keywordDetail)">{{keywordDetail.contractorCount}}</a></td>
                                <td><a href="" ng-click="adminProfileController.openBuyerListModal(keywordDetail)">{{keywordDetail.buyerCount}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="col-sm-6 adminprofiletable">
        <div class="adminprofiletableinner">
            <div class="form-group col-sm-12 padding0" style="line-height: 32px">
                <label>Create Facilities</label>
            </div>
            <div style="clear: both;"></div>
            <form name="FacilitiesForm">
                <div class="form-group col-sm-9 margin0" ng-class="{'has-error': !FacilitiesForm.FacilityName.$pristine && FacilitiesForm.FacilityName.$invalid}">
                    <div class="input-group input-groupA">
                        <input type="text" name="FacilityName" class="form-control" placeholder="Search/Add Facility" aria-describedby="basic-addon2" ng-model="adminProfileController.facility.name">
                        <span class="input-group-addon" ng-click="adminProfileController.addFacility(facilitiesResult, FacilitiesForm.FacilityName.$invalid)">&#43;</span>
                    </div>
                </div>
            </form>
            <div class="form-group col-sm-12 padding0 margin0">
                <div>
                    <table class="table table-bordered packageSummaryTable">
                        <thead>
                            <tr>
                                <th ng-repeat="header in adminProfileController.facilitiesHeaders">{{header}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="facility in adminProfileController.facilitiesData | filter : {facilityName : adminProfileController.facility.name} as facilitiesResult" ng-include="adminProfileController.getFacilitiesTemplate(facility)">
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 adminprofiletable">
        <div class="adminprofiletableinner">
            <div class="form-group col-sm-12 padding0" style="line-height: 32px">
                <label>Create Affiliations</label>
            </div>
            <div style="clear: both;"></div>
            <form name="AffiliationForm">
                <div class="form-group col-sm-9 margin0" ng-class="{'has-error': !AffiliationForm.AffiliationName.$pristine && AffiliationForm.AffiliationName.$invalid}">
                    <div class="input-group input-groupA">
                        <input type="text" name="AffiliationName" class="form-control" placeholder="Search/Add Affiliations" aria-describedby="basic-addon2" ng-model="adminProfileController.affAssociation.name">
                        <span class="input-group-addon" ng-click="adminProfileController.addAffAssociation(affiliationResult, AffiliationForm.AffiliationName.$invalid)">&#43;</span>
                    </div>
                </div>
            </form>
            <div class="form-group col-sm-12 padding0 margin0">
                <div>
                    <table class="table table-bordered packageSummaryTable">
                        <thead>
                            <tr>
                                <th ng-repeat="header in adminProfileController.affAssociationHeaders">{{header}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="aff in adminProfileController.affAssociationsData | filter : {affAssociationName : adminProfileController.affAssociation.name} as affiliationResult" ng-include="adminProfileController.getAffAssociationTemplate(aff)">
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>

    <!-- <div class="col-sm-12 adminprofiletable"> -->
    <div class="col-sm-12 adminprofiletable">
        <div class="adminprofiletableinner">
            <div class="form-group col-sm-12 padding0" style="line-height:32px">
                <label>Business Video</label>
            </div>

            <form>
                <div class="form-group col-sm-3">
                    <label>Insert Video URL</label>
                </div>
                <div class="form-group col-sm-7">
                    <input type="text" name="BusinessVideo" class="form-control" placeholder="Paste Youtube URL here" ng-model="video" required>
                </div>
                <div class="form-group col-sm-2">
                    <a class="btn btn-success" ng-click="adminProfileController.uploadVideo(video)">Save</a>
                </div>

            </form>

            <div style="clear: both;"></div>
        </div>
    </div>

    <div style="clear:both"></div>

    <!-- CERTIFACTION CRUD -->
    <div class="col-sm-6 dminprofiletable">
        <div class="adminprofiletableinner">
            <div class="form-group col-sm-12 padding0" style="line-height: 32px">
                <label>Create Certificates</label>
            </div>
            <div style="clear: both;"></div>
            <form name="CertificatesForm">
                <div class="form-group col-sm-9 margin0" ng-class="{'has-error': !CertificatesForm.CertificateTitle.$pristine && CertificatesForm.CertificateTitle.$invalid}">
                    <div class="input-group input-groupA">
                        <input type="text" name="title" class="form-control" placeholder="Search/Add Certificate" aria-describedby="basic-addon2" ng-model="adminProfileController.certificate.title">
                        <span class="input-group-addon" ng-click="adminProfileController.openCertificateModal(adminProfileController.certificate,certificatesResult, CertificatesForm.CertificateTitle.$invalid)">&#43;</span>

                    </div>
                </div>
            </form>
            <div class="form-group col-sm-12 padding0 margin0">
                <div>
                    <table class="table table-bordered packageSummaryTable">
                        <thead style="background-color: #53C631;
                        color: #03691F;">
                        <tr>
                            <th ng-repeat="header in adminProfileController.certificatesHeader">{{header}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="certificate in adminProfileController.certificatesData | filter : {title : adminProfileController.certificate.title} as certificatesResult" ng-include="adminProfileController.getCertificatesTemplate(certificate)">
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- IMAGE SLIDER -->

<div class="col-sm-6 dminprofiletable">
    <div class="adminprofiletableinner">
        <div class="form-group col-sm-12 padding0" style="line-height: 32px">
            <label>Background Image Slider</label>
        </div>
        <div style="clear: both;"></div>
        <form name="SlidersForm">
            <div class="form-group col-sm-9 margin0" ng-class="{'has-error': !SlidersForm.SlideTitle.$pristine && SlidersForm.SlideTitle.$invalid}">
                <div class="input-group input-groupA">
                    <input type="text" name="title" class="form-control" placeholder="Search/Add Slider Title" aria-describedby="basic-addon2" ng-model="adminProfileController.slider.title">
                    <span class="input-group-addon" ng-click="adminProfileController.openSliderModal(adminProfileController.slider,slidersResult, SlidersForm.SliderTitle.$invalid)">&#43;</span>

                </div>
            </div>
        </form>
        <div class="form-group col-sm-12 padding0 margin0">
            <div>
                <table class="table table-bordered packageSummaryTable">
                    <thead style="background-color: #53C631;
                    color: #03691F;">
                    <tr>
                        <th ng-repeat="header in adminProfileController.slidersHeader">{{header}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="slider in adminProfileController.slidersData | filter : {title : adminProfileController.slider.title} as slidersResult" ng-include="adminProfileController.getSlidersTemplate(slider)">
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div style="clear:both"></div>

<!-- <div class="col-sm-12 adminprofiletable"> -->
<div class="col-sm-12 adminprofiletable">
    <div class="adminprofiletableinner">
        <div class="form-group col-sm-12 padding0" style="line-height: 32px">
            <label>Send Rating Mails</label>
        </div>
        <div class="form-group col-sm-12 padding0 margin0">
            <div>
                <table class="table table-bordered packageSummaryTable">
                    <thead>
                        <tr>
                            <th ng-repeat="header in adminProfileController.remindersHeader">{{header}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="reminder in adminProfileController.remindersData">
                            <td>{{reminder.buyerCompanyName || "My Buyer Company"}}</td>
                            <td>{{reminder.contractorCompanyName || "My Contractor Company"}}</td>
                            <td>{{reminder.keywordName || "My Keyword Name"}}</td>
                            <td>
                                <button class="btn login_btn_custom" type="button" ng-click="adminProfileController.sendReminder(reminder)">Send Mail
                                </button>
                            </td>
                            <!-- <td>{{reminder.lastMailDt | date:"MM/dd/yyyy 'at' h:mma"}}</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
        <!-- <div class="form-group">
    <span class="form-title">Send Mails for Ratings</span>
    <div class="form-group col-sm-8 col-xs-12 padding0 margin0 pull-right">
        <div class="input-group input-groupA marginRight-0">
            <multiple-autocomplete ng-model="selectedList"
            object-property="companyName"
            api-url="{{apiPath}}"
            suggestions-arr="">
        </multiple-autocomplete>
    </div>
    <button ng-click="sendmail()">Send Mail</button>
</div>
</div> -->

<script type="text/ng-template" id="displayCategory">
    <td>{{category.name}}</td>
    <td>{{category.description}}</td>
    <td>
        <a ng-click="adminProfileController.categoryEdit(category)" class="package-edit-icon"></a>
    </td>
    <td>
        <a ng-click="adminProfileController.categoryDelete(category)" class="package-delete-icon"></a>
    </td>
</script>
<script type="text/ng-template" id="editCategory">
    <td>
        <input type="text" class="form-control" ng-model="adminProfileController.categoryToEdit.name" />
    </td>
    <td>
        <input type="text" class="form-control" ng-model="adminProfileController.categoryToEdit.description" />
    </td>
    <td>
        <a ng-click="adminProfileController.categorySave(adminProfileController.categoryToEdit)">Save</a>
    </td>
    <td>
        <a ng-click="adminProfileController.categoryCancel(category)">Cancel</a>
    </td>
</script>
<script type="text/ng-template" id="displayKeyword">
    <td>{{keyword.keywordName}}</td>
    <td>{{keyword.categoryName}}</td>
    <td>
        <a ng-click="adminProfileController.keywordEdit(keyword)" class="package-edit-icon"></a>
    </td>
    <td>
        <a ng-click="adminProfileController.keywordDelete(keyword)" class="package-delete-icon"></a>
    </td>
</script>
<script type="text/ng-template" id="editKeyword">
    <td>
        <input type="text" class="form-control" ng-model="adminProfileController.keywordToEdit.keywordName" />
    </td>
    <td>
        <select class="form-control" ng-model="adminProfileController.keywordToEdit.categoryId" ng-options="categoryOption.id as categoryOption.name for categoryOption in adminProfileController.categoryData">
        </select>
    </td>
    <td>
        <a ng-click="adminProfileController.keywordSave(adminProfileController.keywordToEdit)">Save</a>
    </td>
    <td>
        <a ng-click="adminProfileController.keywordCancel(keyword)">Cancel</a>
    </td>
</script>
<script type="text/ng-template" id="displayPackage">
    <td>{{package.name}}</td>
    <td>{{package.days}}</td>
    <td>
        <a class="package-edit-icon" ng-click="adminProfileController.editPackage(package)"></a>
    </td>
    <td>
        <a ng-click="adminProfileController.deletePackage(package)" class="package-delete-icon"></a>
    </td>
</script>
<script type="text/ng-template" id="editPackage">
    <td>
        <input type="text" class="form-control" ng-model="adminProfileController.packageToEdit.name">
    </td>
    <td>
        <input type="number" class="form-control" ng-model="adminProfileController.packageToEdit.days">
    </td>
    <td>
        <a ng-click="adminProfileController.savePackage(adminProfileController.packageToEdit)">Save </a>
    </td>
    <td>
        <a ng-click="adminProfileController.cancelPackage(adminProfileController.packageToEdit)">Cancel </a>
    </td>
</script>
<script type="text/ng-template" id="editPricing">
    <td>{{pricing.from}}</td>
    <td>{{pricing.to}}</td>
    <td>
        <input type="number" class="form-control" ng-model="adminProfileController.pricingToEdit.price">
    </td>
    <td>
        <a ng-click="adminProfileController.savePrice(adminProfileController.pricingToEdit, $index)">Save </a>
        <a ng-click="adminProfileController.cancelPrice(adminProfileController.pricingToEdit)">Cancel </a>
    </td>
</script>
<script type="text/ng-template" id="displayPricing">
    <td>{{pricing.from}}</td>
    <td>{{pricing.to}}</td>
    <td>{{pricing.price | currency:"&#8377;"}}</td>
    <td>
        <a class="package-edit-icon" ng-click="adminProfileController.editPrice(pricing)"></a>
    </td>
</script>
<script type="text/ng-template" id="displayFacility">
    <td>{{facility.facilityName}}</td>
    <td>
        <a class="package-edit-icon" ng-click="adminProfileController.editFacilty(facility)"></a>
    </td>
    <td>
        <a ng-click="adminProfileController.deleteFacility(facility)" class="package-delete-icon"></a>
    </td>
</script>
<script type="text/ng-template" id="editFacility">
    <td>
        <input type="text" class="form-control" ng-model="adminProfileController.facilityToEdit.facilityName">
    </td>
    <td>
        <a ng-click="adminProfileController.saveFacility(adminProfileController.facilityToEdit)">Save </a>
    </td>
    <td>
        <a ng-click="adminProfileController.cancelFacility(adminProfileController.facilityToEdit)">Cancel </a>
    </td>
</script>
<script type="text/ng-template" id="displayCertificate">
    <td>{{certificate.title}}</td>

    <td>{{certificate.name}}</td>
            <!-- <td>
        <a class="package-edit-icon" ng-click="adminProfileController.editCertificate(certificate)"></a>
    </td> -->
    <td>
        <a ng-click="adminProfileController.deleteCertificate(certificate)" class="package-delete-icon"></a>
    </td>
</script>
<script type="text/ng-template" id="editCertificate">
    <td>
        <input type="text" class="form-control" ng-model="adminProfileController.certificateToEdit.title">
    </td>
    <td>
        <form enctype="multipart/form-data">
            <input type="file" id="certiPic" />
            <!-- <input class="btn btn-success" type="submit" value="upload"> -->
        </form>

    </td>
    <td>
        <a ng-click="adminProfileController.saveCertificate(adminProfileController.certificateToEdit)">Save </a>
    </td>
    <td>
        <a ng-click="adminProfileController.cancelCertificate(adminProfileController.certificateToEdit)">Cancel </a>
    </td>
</script>
<script type="text/ng-template" id="displaySlider">
    <td>{{slider.title}}</td>

    <td>{{slider.name}}</td>
            <!-- <td>
        <a class="package-edit-icon" ng-click="adminProfileController.editSlider(slider)"></a>
    </td> -->
    <td>
        <a ng-click="adminProfileController.deleteSlider(slider)" class="package-delete-icon"></a>
    </td>
</script>
<script type="text/ng-template" id="editSlider">
            <!-- <td>
        <input type="text" class="form-control" ng-model="adminProfileController.sliderToEdit.title">
    </td> -->
    <td>
        <form enctype="multipart/form-data">
            <input type="file" id="slidePic" />
        </form>

    </td>
    <td>
        <a ng-click="adminProfileController.saveSlider(adminProfileController.sliderToEdit)">Save </a>
    </td>
    <td>
        <a ng-click="adminProfileController.cancelSlider(adminProfileController.sliderToEdit)">Cancel </a>
    </td>
</script>
<script type="text/ng-template" id="displayAffAssociation">
    <td>{{aff.affAssociationName}}</td>
    <td>
        <a class="package-edit-icon" ng-click="adminProfileController.editAffAssociation(aff)"></a>
    </td>
    <td>
        <a ng-click="adminProfileController.deleteAffAssociation(aff)" class="package-delete-icon"></a>
    </td>
</script>
<script type="text/ng-template" id="editAffAssociation">
    <td>
        <input type="text" class="form-control" ng-model="adminProfileController.affAssociationToEdit.affAssociationName">
    </td>
    <td>
        <a ng-click="adminProfileController.saveAffAssociation(adminProfileController.affAssociationToEdit)">Save </a>
    </td>
    <td>
        <a ng-click="adminProfileController.cancelAffAssociation(adminProfileController.affAssociationToEdit)">Cancel </a>
    </td>
</script>

</div>