<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add Certificate {{ adminProfileController.certificate.title }}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <form enctype="multipart/form-data">
            <input type="file" id="certiPic"/>
            <!-- <input class="btn btn-success" type="submit" value="upload"> -->
        </form>
        
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn login_btn_custom" type="button" ng-click="adminProfileController.addCertificate(adminProfileController.certificate, CertificatesForm)">Add</button>
    <button class="btn cancel_btn_custom" type="button" ng-click="adminProfileController.cancelCertificateModal(adminProfileController.certificate)">Cancel</button>
</div>
