<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add Keyword {{ adminProfileController.keyword.name }} </h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <div class="form-group" style="text-align : right;">
        <div> Enter Description for New Keyword :&nbsp;</div>
    </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
            <textarea class="form-control" name="CategoryDescription" placeholder="Enter Description" rows="2" ng-model="adminProfileController.keyword.description"></textarea>
            </div>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn login_btn_custom" type="button" ng-click="adminProfileController.addKeyword(adminProfileController.keyword, KeywordForm)">Add</button>
    <button class="btn cancel_btn_custom" type="button" ng-click="adminProfileController.cancelKeywordModal(adminProfileController.keyword)">Cancel</button>
</div>
