<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add Package {{ adminProfileController.package.name }} </h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <div class="form-group" style="text-align : right;">
        <div> Enter Days :&nbsp;</div>
    </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
            <input type="number" class="form-control" name="PackageDays" placeholder="Enter Days" ng-model="adminProfileController.package.days"></input>
            </div>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn login_btn_custom" type="button" ng-click="adminProfileController.addListPackage(adminProfileController.package, PackageForm)">Add</button>
    <button class="btn cancel_btn_custom" type="button" ng-click="adminProfileController.cancelPackageModal(adminProfileController.keyword)">Cancel</button>
</div>
