<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Save Pricing</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <div class="form-group" style="text-align : right;">
        <div> Enter Base Price :&nbsp;</div>
    </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
            <input type="number" class="form-control" name="basePrice" placeholder="Enter Base Price" ng-model="adminProfileController.base.basePrice"></input>
            </div>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn login_btn_custom" type="button" ng-click="adminProfileController.updatePrice(adminProfileController.base.basePrice)">Save</button>
    <button class="btn cancel_btn_custom" type="button" ng-click="adminProfileController.cancelPriceModal()">Cancel</button>
</div>