<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add Slider Image for {{ adminProfileController.slider.title }}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <form enctype="multipart/form-data">
            <input type="file" id="slidePic"/>
            <!-- <input class="btn btn-success" type="submit" value="upload"> -->
        </form>
        
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn login_btn_custom" type="button" ng-click="adminProfileController.addSlider(adminProfileController.slider, SlidersForm)">Add</button>
    <button class="btn cancel_btn_custom" type="button" ng-click="adminProfileController.cancelSliderModal(adminProfileController.slider)">Cancel</button>
</div>
