<div class="main-container">
    <div class="container">
        <div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 contractorRatings_container">
				<div class="row">
					<div class="col-xs-5 col-sm-4 contractorRatings_label">
						<label>Ratings :</label>
					</div>
					<div class="col-xs-4 col-sm-6 contractorRatings_stars">
						<span uib-rating ng-model="contractorRatings.rate" read-only="contractorRatings.isReadonly" on-hover="contractorRatings.hoveringOver(value)" on-leave="contractorRatings.overStar = null" aria-labelledby="default-rating">
						</span>
						{{contractorRatings.rate}}
					</div>
					<div class="col-xs-2 col-sm-2">
						<span class="label" ng-class="{'label-warning': contractorRatings.percent<40, 'label-info': contractorRatings.percent>=40 && contractorRatings.percent<80, 'label-success': contractorRatings.percent>=80}" ng-show="contractorRatings.overStar && !contractorRatings.isReadonly">{{contractorRatings.spell}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 contractorRatings_label">
						<label>Reviews:</label>
					</div>
					<div class="col-sm-8">
						<textarea ng-model="contractorRatings.rateReviews" placeholder="Enter Reviews" required></textarea>
					</div>
					<div style="clear: both;"></div>
					<div class="">
						<button class="btn pull-right login_btn_custom" ng-click="contractorRatings.save(contractorRatings.rate,contractorRatings.rateReviews)">Submit</button>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
