﻿<div class="container">
  <h1>
    <span class="alert alert-warning" ng-show="vm.shwWarning">
      <strong>Wait!</strong> Verifying Email Id !!!.
    </span>
    <br />
    <span class="alert alert-success" ng-show="vm.shwSuccess">
      <strong>Success!</strong> Email Verified successfully. Redirecting in 5 Second !!!.
    </span>
    <br />
    <span class="alert alert-danger" ng-show="vm.shwExpError">
      <strong>Error!</strong> Verification Code Expired <a ng-href="vm.newVerifyLink">click here</a> to verify again.
    </span>
    <span class="alert alert-danger" ng-show="vm.shwError">
      <strong>Error!</strong> Something Went Wrong !!!.
    </span>
  </h1>
  </div>
