<div class="modal-header modalheader_custom">
    <button type="button" class="close" ng-click="$close()">×</button>
    <h3 class="text-center">List Of {{type}}s</h3>
</div>
<div class="modal-body tablestickyheader">
    <div class="home-pro-ser-modal table_green_styling" style="border: 0;">
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th>{{type}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">
                        <input type="text" class="input-sm form-control" placeholder="Search {{type}}.." ng-model="filterText" />
                        <label ng-hide="(users | filter:filterText).length > 0">No Data Available</label>
                    </td>
                </tr>
                <tr ng-repeat="user in users | filter: filterText">
                    <td>
                        <span>{{user.CompanyName}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>