<style type="text/css">
    #showallbtn {
        display: block;
        margin: 0 auto;
        width: 40%;
    }
</style>
<div class="homepagesliderwrapper">
    <div class="slider-blocks hm-ser-block homepagetopslider">
        <div uib-carousel active="1" interval="2000" no-wrap="false">
            <div uib-slide ng-repeat="imgObj in vm.imgSlides" index="$index">
                <img ng-src="{{imgObj.url}}" style="margin:auto;">
            </div>
        </div>
    </div>
    <div class="search-div homepagesearch">
        <div class="input-group">
            <!--uib-typeahead="k as k.keywordName for k in vm.getKeywords($viewValue)"-->
            <!--typeahead-on-select="vm.onSelect(vm.Keyword)"-->
            <input type="text" placeholder="Search..." ng-model="vm.Keyword" uib-typeahead="k as k.keywordName for k in vm.getKeywords($viewValue)" typeahead-loading="loadingKeywords" typeahead-no-results="noResults" typeahead-min-length="2" typeahead-on-select="vm.onSelect(vm.Keyword)"
                class="form-control">
            <span class="input-group-btn">
                <button ng-click="vm.btnGoSearchClk(vm.Keyword.keywordId)" class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
        <div class="noResult">
            <i ng-show="loadingKeywords" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="container home4blocks">
        <div class="topPara">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-offset-3 col-md-6 col-sm-12 tilesFour">
                        <div class="col-xs-6 col-sm-3 tilesFour_inner" ng-click="vm.showUser('Buyer')">
                            <i class="fa fa-cart-plus"></i>
                            <!-- <img src="img/buyers.png"/> -->
                            <h1 style="color:#ffffff;">{{ vm.stats.buyerCnt }} </h1>
                            <h2> Buyer</h2>
                        </div>
                        <div class="col-xs-6 col-sm-3 tilesFour_inner" ng-click="vm.showUser('Contractor')">
                            <i class="fa fa-industry"></i>
                            <h1 style="color:#ffffff;">{{ vm.stats.contractorCnt }}</h1>
                            <h2>contractor</h2>
                        </div>
                        <div class="col-xs-6 col-sm-3 tilesFour_inner" ng-click="vm.showAllKeywords('Product')" style="cursor:pointer">
                            <i class="fa fa-medkit"></i>
                            <h1 style="color:#ffffff;">{{ vm.stats.productCnt }}</h1>
                            <h2>Product</h2>
                        </div>
                        <div class="col-xs-6 col-sm-3 tilesFour_inner" ng-click="vm.showAllKeywords('Service')" style="cursor:pointer">
                            <i class="fa fa-gears"></i>
                            <h1 style="color:#ffffff;">{{ vm.stats.serviceCnt }}</h1>
                            <h2>Service</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>

<div class="container">
    <div class="row container-fluid " id="howitworkscontent">
        <div class="intro-block">
            <div class="intro">
                <h1>HOW IT WORKS</h1>
            </div>
        </div>

        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="video-holder">
                <div class="video">
                    <pre id="myCode"></pre>
                    <!-- <iframe width="420" height="315" src="https://www.youtube.com/watch?v=aXnNWQ-GU0s" frameborder="0" allowfullscreen></iframe> -->
                    <!-- <iframe width="560" height="315" src="{{trustSrc(video)}}" style="border:none;" allowfullscreen=""></iframe> -->
                    <!-- <iframe width="560" height="315" ng-src="//www.youtube.com/embed/" + {{video}}+ "" style="border:none; " allowfullscreen=" "></iframe> -->
                    <!-- <iframe width="560 " height="315 " src="//www.youtube.com/embed/4V3uoAu5mXE?rel=0 " style="border:none; " allowfullscreen=" "></iframe> -->
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 ">
            <div class="howitworksimg ">
                <img src="../assets/images/webhowitworks.jpg " />
            </div>
        </div>
    </div>


    <div class="row homeaboutus " id="aboutuscontent ">
        <div class="col-md-6 intro-block homeaboutus_contentwrap ">
            <div class="intro ">
                <h1>ABOUT US</h1>
            </div>
            <p>we, at outchem.com aim towords giving you the best experience of the new market that is arising from current
                <span>Global Chemical Industry</span> with the help of technology and connect you globally. </p>
            <p> Due to the current market scenario, Outsourcing of Research &amp; Development, which was just a segment of the chemical industry, is itself becoming a Growing Market.</p>
            <p>'
                <span>One stop Shop</span>' is a necessity in todays world. From Manufacturing to Research &amp; Development,
                <span>
                        Our Motto</span> is to give our users a one stop solution for all their Outsourcing Needs.</p>
            <hr />
        </div>
    </div>
</div>
<div class="row carausolHome ">
    <div class="col-md-8 col-sm-8 ">
        <div class="slider-blocks hm-ser-block ">
            <div uib-carousel active="0 " interval="2000 " no-wrap="false ">
                <div uib-slide ng-repeat="slide in vm.servSlides " index="slide.id ">
                    <h2>
                        <a href="#!/search?searchTxt={{slide.keywordId}} ">{{slide.name}}</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 ">
        <div class="filcolor ">
            <i class="fa fa-gears " style="font-size: 64px; "></i>
            <h1>Services</h1>
        </div>
    </div>
</div>
<!-- <<<<<<< HEAD -->
</div>
<!-- <<<<<<< HEAD -->
<!-- <div class="row carausolHome ">
            <div class="col-md-8 col-sm-8 ">
                <div class="slider-blocks hm-ser-block ">
                    <div uib-carousel active="0 " interval="3000 " no-wrap="false ">
                        <div uib-slide ng-repeat="slide in vm.prodSlides " index="slide.id ">
                            <h2>
                                <a href="#!/search?searchTxt={{slide.keywordId}} ">{{slide.name}}</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div> -->
<!-- <div class="col-md-4 col-sm-4 ">
        <div class="filcolor ">
            <i class="fa fa-medkit " style="font-size: 64px; "></i>
            <h1>Products</h1>
        </div>
    </div>
    </div>
    <div class="regulatoryCalausol carausolHome row ">
    <div class="slide col-sm-8 ">
        ======= -->

<div class="row homeaboutus " id="aboutuscontent ">
    <div class="col-md-10 intro-block homeaboutus_contentwrap ">
        <div class="intro ">
            <h1>Top Companies</h1>
        </div>
        <div class="row">
            <div ng-click="changeState(company.ContractorId)" class="col-md-3 CompanyBox" ng-repeat="company in vm.companies" ng-class="{'col-md-offset-3': company.Id == '9'}">
                <img ng-src="{{company.Image}}" class="companyLogoImages" title="{{company.CompanyName}}">
            </div>
        </div>
        <hr />
    </div>
</div>

<div class="regulatoryCalausol carausolHome row ">
    <div class="carousel slide col-sm-8 ">
        <!-- Wrapper for slides -->
        <!-- >>>>>>> 3271316e7286f8d30db9bbf8f2f899380e0e7fb4 -->
        <carousel interval="myInterval ">
            <slide active="certificates.active ">
                <div class="home-certi-logos ">
                    <ul>
                        <li ng-repeat="certi in vm.certificates[0] ">
                            <img ng-src="{{certi.url}}" height="80 " width="120" title="{{certi.title}}">
                        </li>
                    </ul>
                    <button type="button" class="btn btn-success" id="showallbtn" ng-click='openCertificate()'>Show All</a>
                            </div>
                        </slide>
                    </carousel>


                </div>
                <div class="col-sm-4 pr0 ">
                    <div class="filcolor ">
                        <h1>Certifications</h1>
                    </div>
                </div>
            </div>
            <div class="alert alert-success " ng-show="vm.contactSuccess ">
                <strong>Thank You!</strong> For contacting us.
            </div>
<!-- <div class="row homeContactSection " ng-show="vm.showContactUs ">
        <h1>Get in touch with us!</h1>
        <div class="form-group " ng-class="{ 'has-error': (!vm.fName || vm.fName=='' ) && vm.fNameError} ">
            <input id="fullName " type="text " class="form-control " ng-model="vm.fName " placeholder="Your Name " />
        </div>
        <div class="form-group " ng-class="{ 'has-error': ((!vm.mobile || vm.mobile=='' ) && vm.mobileError) || vm.mobileError} ">
            <input id="Mobile " type="text " class="form-control " ng-model="vm.mobile " placeholder="Your Mobile Number " maxlength="10 " name="mobileno " />
        </div>
        <div class="form-group " ng-class="{ 'has-error': ((!vm.email || vm.email=='' ) && vm.emailError) || vm.emailError} ">
            <input id="Email " type="email " class="form-control " ng-model="vm.email " placeholder="Your Email ID " name="email " required />
        </div>
        <div class="form-group ">
            <textarea id="Comment " name="comments " ng-model="vm.comment " required class="form-control " rows="3 " placeholder="Your comments or queries "></textarea>
        </div>
        <div class="form-group ">
            <button type="submit " class="loginBtn pull-right login_btn_custom " ng-click="vm.validateContact() ">Submit</button>
                </div>
    </div> -->
</div>
</div>