<style>

  .typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper>.message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper>.dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .Editable {
    cursor: pointer;
  }
  /* Put your css in here */

  multiselect {
    display: block;
  }

  multiselect .btn {
    width: 100%;
    background-color: #FFF;
  }

  multiselect .btn.error {
    border: 1px solid #da4f49 !important;
  }

  multiselect .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
  }

  multiselect .dropdown-menu {
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
  }

  multiselect .dropdown-menu>li>a {
    padding: 3px 10px;
    cursor: pointer;
  }
</style>
<div class="main-container">
  <ul class="nav nav-tabs adminDashboard_tabs_wrap">
    <li><a ui-sref="companyDashboard">Dashboard</a></li>
    <li class="active"><a ui-sref="contractorProfile">Profile</a></li>
  </ul>
  <div class="container">
    <div class="buyerProfile">
      <div class="profile-block">
        <div class="profileLi row">
          <div class="col-sm-4 ">
            <div class="profilePic">
              <input style="display:none" type="file" id="profPic" file-model="model.profPic" accept="image/*" />
              <img src="/assets/images/img3.png" ng-if="!tempUrl" for="profPic" class="img-circle profile-img" />
              <img ng-src="{{tempUrl}}" ng-if="tempUrl" for="profPic" class="img-circle profile-img" />
            </div>
            <label class="pro-upload" for="profPic">
             <span class="upload-txt-hide">Upload Logo</span>
           </label>
         </div>
         <div class="col-sm-8 contra-det">
           <ul>
             <li ng-show="!vm.edtName">
               <h3>
                 <span ng-bind="vm.user.firstName"></span>
                 <span ng-bind="vm.user.lastName"></span>
                 <span class="fa edit-icon fa-edit" ng-click="vm.edtName=!vm.edtName"></span>
                 <span ng-show="vm.edtInfo" class="animate-show"></span>
               </h3>
             </li>
             <li ng-show="vm.edtName">
               <div class="form-group">
                 <div class="input-group">
                   <input class="form-control" type="text" ng-model="vm.user.firstName" />
                   <input class="form-control" type="text" ng-model="vm.user.lastName" />
                   <div class="input-group-addon"><span class="fa fa-check-square-o" ng-click="vm.editProfile('name')"></span></div>
                 </div>
               </div>
             </li>
             <li ng-show="!vm.edtPhone" class="phone-edit">
              <span ng-bind="vm.user.phone" class="phone-txt"></span>
              <span class="fa edit-icon fa-edit " ng-click="vm.edtPhone=!vm.edtPhone"></span>
              <span class="no-verified" ng-show="vm.user.phoneNumberConfirmed == 1">Verified <i class="fa fa-check"></i></span>
              <span class="no-not-verified" ng-show="vm.user.phoneNumberConfirmed == 0">Not Verified <i class="fa fa-close"></i></span>
              <span class="verifybtn" ng-hide="vm.verifyMobileClk || vm.user.phoneNumberConfirmed == 1" ng-click="vm.verifyMobile()">Verify Now</span>
              <span ng-show="vm.showOTP" class="otp-block">
               <input class="form-control" placeholder="Enter OTP" maxlength="6" type="text" ng-model="vm.OTP" />
               <i href="#" class="fa fa-refresh" ng-show="vm.showOTP" ng-click="vm.resendOTP()" uib-tooltip="Resend OTP"></i>
               <i href="#" class="fa fa-sign-in" ng-click="vm.validOTP()" ng-show="vm.showOTP && vm.OTP.length == 6" uib-tooltip="Send"></i>
             </span>
             <span ng-show="vm.edtInfo" class="animate-show"></span>
           </li>

           <li ng-show="vm.edtPhone">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" type="text" ng-model="vm.user.phone" />
                <div class="input-group-addon">
                  <span class="fa fa-check-square-o" ng-click="vm.editProfile('phone')"></span>
                </div>
              </div>
            </div>
          </li>

          <li ng-show="!vm.edtCountry">
            <img src="/assets/images/india-icon.png" class="img-circle flag" />
            <span ng-bind="vm.user.countryName" class="country-txt"></span>
            <span class="fa edit-icon fa-edit" ng-click="vm.edtCountry=!vm.edtCountry"></span>
            <span ng-show="vm.edtInfo" class="animate-show"></span>
          </li>
          <li ng-show="vm.edtCountry">
            <div class="input-group">
              <select class="form-control" ng-model="vm.user.country" style="border:1; -webkit-appearance: none; -moz-appearance: none; background:url(assets/images/arrow.png) no-repeat;background-position:right center !important; margin-right:2px;" ng-options="country.name as (country.name) for country in vm.countries"></select>
              <div class="input-group-addon"><span class="fa fa-check-square-o" ng-click="vm.edtCountry=!vm.edtCountry"></span></div>
            </div>
          </li>
          <li>
            <div class="progress-bar"></div>
            <uib-progressbar class="active" value="vm.progress" type="success"><b>{{vm.progress}}%</b></uib-progressbar>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="alert alert-success" ng-show="vm.contactorSuccess">
    <strong>Success!</strong> Contractor info saved successfully !!!.
  </div>
  <uib-tabset>
    <uib-tab index="0" heading="Company Details">
      <div class="tabs-block">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <form name="form" class="form-horizontal">
                <div class="form-group" ng-class="{'has-error': vm.errCompanyName && vm.errCompanyAddress && vm.errCompanyDesc}">
                  <div class="input-group marginRight-0 col-sm-12 col-xs-12">
                    <input type="text" name="companyName" ng-readonly="!vm.enbCompanyName" ng-model="vm.companyDetail.companyName" focus-me="vm.enbCompanyName" id="cName" class="form-control" placeholder="Company Name" ng-click="vm.enbCompanyName=!vm.enbCompanyName" />
                    <!--<div ng-click="vm.enbCompanyName=!vm.enbCompanyName" id="vm.enbCompanyName" style="cursor:pointer" class="input-group-addon"><span class="fa fa-edit"><span></div>-->
                  </div>
                </div>
                <div class="form-group" ng-class="{'has-error': vm.errCompanyName && vm.errCompanyAddress && vm.errCompanyDesc}">
                  <div class="input-group input-groupA marginRight-0 col-sm-12 col-xs-12">
                    <textarea class="form-control" rows="2" ng-readonly="!enbCompanyAdd" id="textArea" ng-model="vm.companyDetail.companyAddress" focus-me="enbCompanyAdd" placeholder="Company Address" ng-click="enbCompanyAdd=!enbCompanyAdd"></textarea>
                    <!--<div ng-click="enbCompanyAdd=!enbCompanyAdd" style="cursor:pointer" class="input-group-addon"><span class="fa fa-edit"><span></div>-->
                  </div>
                </div>
                <div class="form-group" ng-class="{'has-error': vm.errCompanyName && vm.errCompanyAddress && vm.errCompanyDesc}">
                  <div class="input-group input-groupA marginRight-0 col-sm-12 col-xs-12">
                    <textarea class="form-control" rows="2" ng-readonly="!enbCompanyDetail" id="" focus-me="enbCompanyDetail" ng-model="vm.companyDetail.companyDesc" placeholder="About Company (max 150 characters)" maxlength="150" ng-click="enbCompanyDetail=!enbCompanyDetail"></textarea>
                    <!--<div ng-click="enbCompanyDetail=!enbCompanyDetail" style="cursor:pointer" class="input-group-addon"><span class="fa fa-edit"><span></div>-->
                  </div>
                </div>

                <div class="form-group text-right">
                  <button ng-click="vm.validateForm()" ng-disabled="form.$pristine|| form.$invalid" class="loginBtn login_btn_custom">Save &nbsp; &#x276f;</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </uib-tab>

    <uib-tab index="1" heading="Services / Products">
      <div class="tabs-block second-form">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <form class="form-horizontal">
                <div class="form-group">
                  <span class="form-title">Services offered</span>
                  <div class="form-group col-sm-8 col-xs-12 padding0 margin0 pull-right">
                    <div class="input-group input-groupA marginRight-0">
                      <input type="text" placeholder="Search Normal..." ng-model="vm.companyDetail.Keyword" uib-typeahead="k.keywordName for k in vm.getKeywords($viewValue)" typeahead-loading="loadingKeywords" typeahead-no-results="noResults" typeahead-min-length="2" typeahead-on-select="vm.addKeyword($item)"
                      class="form-control">
                      <span ng-click="!(vm.companyDetail.Keyword) || vm.addKeyword(vm.companyDetail.Keyword)" style="cursor:pointer" class="input-group-addon">&#43;</span>
                    </div>
                    <div class="added-keywords">
                      <div class="keyword" ng-repeat="k in vm.selectedKeywords track by $index">
                        <p>{{k.keywordName}} </p><span style="cursor:pointer" class="fa fa-remove" ng-click="vm.removeKeyword($index)"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <span class="form-title">Products</span>
                  <div class="form-group col-sm-8 col-xs-12 padding0 margin0 pull-right">
                    <div class="input-group input-groupA marginRight-0">
                      <input type="text" placeholder="Search Normal..." ng-model="vm.companyDetail.productKey" uib-typeahead="k.keywordName for k in vm.getProductKeywords($viewValue)" typeahead-loading="loadingKeywords" typeahead-no-results="noResults" typeahead-min-length="2"
                      typeahead-on-select="vm.addProductKeyword($item)" class="form-control">
                      <span ng-click="!(vm.companyDetail.productKey) || vm.addProductKeyword(vm.companyDetail.productKey)" style="cursor:pointer" class="input-group-addon">&#43;</span>
                    </div>
                    <div class="added-keywords">
                      <div class="keyword" ng-repeat="k in vm.selectedProductKeywords track by $index">
                        <p>{{k.keywordName}} </p><span style="cursor:pointer" class="fa fa-remove" ng-click="vm.removeProductKeyword($index)"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <span class="form-title">Capacity</span>
                  <div class="form-group col-sm-8 col-xs-12 padding0 margin0 pull-right">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="text" name="Minimum" id="Minimum" ng-model="vm.companyDetail.MinCapacity" class="form-control" placeholder="Minimum" />
                      </div>
                      <div class="col-md-6">
                        <input type="text" name="Maximum" id="Maximum" ng-model="vm.companyDetail.MaxCapacity" class="form-control" placeholder="Maximum" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6 ">
                      <span class="form-title">Transportation</span>
                      <div class="radio">
                        <label>
                         <input type="radio" ng-model="vm.companyDetail.Transportation" value="Yes" class="form-control" />
                         Yes
                       </label>
                     </div>
                     <div class="radio">
                      <label>
                       <input type="radio" ng-model="vm.companyDetail.Transportation" value="No" class="form-control" />
                       No
                     </label>
                   </div>
                 </div>
                 <div class="col-md-6">
                  <span class="form-title">Packaging Services</span>
                  <div class="radio">
                    <label>
                     <input type="radio" ng-model="vm.companyDetail.PackagingServices" value="Yes" class="form-control" />
                     Yes
                   </label>
                 </div>
                 <div class="radio">
                  <label>
                   <input type="radio" ng-model="vm.companyDetail.PackagingServices" value="No" class="form-control" />
                   No
                 </label>
               </div>
             </div>
           </div>
         </div>
         <div class="form-group">
          <span class="form-title">Certifications</span>
          <div class="certi-block">
                                                <!-- <div class="cert-icons" title="{{certi.title}}" ng-repeat="certi in vm.certificates track by $index">
                                                    <label class="chkd-cert-logo" ng-class="{'logo-chkd' : certi.check == '{{certi.name}}' || checkboxModel[$index] }" for="{{certi.name}}">
                                                       <img ng-src="{{certi.url}}">
                                                       <input type="checkbox" class="certlogo" id="{{certi.name}}" ng-model="certi.check"
                                                       ng-true-value="'{{certi.name}}'" ng-change="vm.reguBodyChange(certi.check,'{{certi.name}}')" />
                                                   </label>
                                                 </div> -->
                                                 <div class="cert-icons" title="{{certi.title}}" ng-repeat="certi in checked track by $index">
                                                  <label class="chkd-cert-logo" ng-class="{'logo-chkd' :true }" for="{{certi.name}}">
                                                   <img ng-src="{{certi.url}}">
                                                   <input type="checkbox" class="certlogo" id="{{certi.name}}" ng-model="certi.check"
                                                   ng-true-value="'{{certi.name}}'" ng-click="vm.uncheckCertificate(certi)"/>
                                                 </label>
                                               </div>
                                             </div>
                                             <div class="certi-block">
                                              <div class="cert-icons" title="{{certi.title}}" ng-repeat="certi in unchecked track by $index">
                                                <label class="chkd-cert-logo" ng-class="{'logo-chkd' : false }" for="{{certi.name}}">
                                                 <img ng-src="{{certi.url}}">
                                                 <input type="checkbox" class="certlogo" id="{{certi.name}}" ng-model="certi.check"
                                                 ng-true-value="'{{certi.name}}'" ng-click="vm.checkCertificate(certi)" />
                                               </label>
                                             </div>
                                           </div>

                                         </div>
                                         <div class="form-group multi-choose">
                                          <span class="form-title">Associations</span>
                                          <multiselect class="input-xlarge" multiple="true" ng-model="vm.companyDetail.affiliatedAssociations" options="c for c in vm.affiliatedAssociations" change="selected()">
                                          </multiselect>
                                        </div>
                                        <div class="form-group multi-choose">
                                          <span class="form-title">Facilities</span>
                                          <multiselect class="input-xlarge" multiple="true" ng-model="vm.companyDetail.Facilities" options="c for c in vm.Facilities" change="selected()">
                                          </multiselect>
                                        </div>
                                        <div class="form-group">
                                          <span class="form-title">Technical Specification</span>
                                          <textarea class="form-control expand" rows="3" ng-model="vm.companyDetail.TechnicalSpecs" placeholder="Technical Specification"></textarea>

                                        </div>
                                        <div class="form-group text-right">
                                          <button class="loginBtn login_btn_custom" ng-click="vm.submitCategories()">Save &nbsp; &#x276f;</button>
                                        </div>

                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </uib-tab>

                            <!-- <uib-tab index="2" disable="false" uib-tooltip="Listing package blocked by admin"> -->
                            <uib-tab index="2" disable="vm.enbPackageTab" uib-tooltip="{{vm.enbPackageTab?'Complete Profile to 100%':''}}">
                              <uib-tab-heading>
                                <span class="fa fa-lock" ng-show="vm.enbPackageTab"></span> Listing Package
                              </uib-tab-heading>
                              <div class="tabs-block">
                                <div class="container-fluid">
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <form class="form-horizontal">
                                        <div class="form-group">

                                          <span class="form-title">Keywords</span>
                                          <div class="form-group col-sm-8 col-xs-12 padding0 margin0 pull-right">
                                            <div class="input-group input-groupA marginRight-0">
                                              <!-- <input type="text" placeholder="Search Normal..." ng-model="vm.companyDetail.productKey" uib-typeahead="k.keywordName for k in vm.getProductKeywords($viewValue)" typeahead-loading="loadingKeywords" typeahead-no-results="noResults" typeahead-min-length="2"
                                              typeahead-on-select="vm.addProductKeyword($item)" class="form-control"> -->
                                              <input type="text" placeholder="Search Keyword..." ng-model="vm.companyDetail.packages" uib-typeahead="k.keywordName for k in vm.getPackages($viewValue)" typeahead-loading="loadingKeywords" typeahead-no-results="noResults" typeahead-min-length="2" typeahead-on-select="vm.addPackageKeyword($item)"
                                              class="form-control">
                                              <span ng-click="!(vm.companyDetail.packages) || vm.addPackageKeyword(vm.companyDetail.packages)" style="cursor:pointer" class="input-group-addon">&#43;</span>
                                            </div>
                                            <div class="added-keywords">
                                              <div class="keyword" ng-repeat="k in vm.selectedPackageKeywords track by $index">
                                                <p>{{k.keywordName}} </p><span style="cursor:pointer" class="fa fa-remove" ng-click="vm.removePackageKeyword($index)"></span>
                                              </div>
                                            </div>
                                          </div>

                                       <!--    <input type="text" placeholder="Search Keyword..." ng-model="vm.companyDetail.packages" uib-typeahead="k.keywordName for k in vm.getPackages($viewValue)" typeahead-loading="loadingKeywords" typeahead-no-results="noResults" typeahead-min-length="2" typeahead-on-select="vm.addPackage($item)"
                                       class="form-control"> -->
                                            <!-- <div class="input-group input-groupA marginRight-0">
                                              <multiple-autocomplete ng-model="selectedList"
                                              object-property="keywordName"
                                              api-url="{{apiPath}}"
                                              suggestions-arr="">
                                            </multiple-autocomplete>
                                          </div> -->

                                        </div>
                                        <div class="form-group">
                                          <select class="form-control" ng-disabled="vm.packageEdit" ng-model="vm.objPackage.packageId" ng-options="item.pId as (item.name + ' (' + item.days + ' days)') for item in vm.packages" ng-change="vm.changePackage(vm.objPackage.packageId)"></select>
                                        </div>
                                        <!-- <div class="form-group">
 <select class="form-control" ng-disabled="vm.packageEdit"
 ng-model="vm.companyDetail.location"
 ng-options="item for item in vm.locations"></select>
</div> -->
<div class="form-group" ng-show="vm.objPackage.savedPrice > 0">
  Selected Keyword Current Price :
  <input class="form-control" type="text" ng-disabled="true" ng-model="vm.objPackage.savedPrice">
</div>
<div class="form-group" ng-show="vm.objPackage.savedPrice > 0 || vm.objPackage.savedTotalPrice > 0">
  Total Package Price :
  <input type="text" class="form-control" ng-disabled="true" ng-model="vm.objPackage.savedTotalPrice">
</div>
<div class="form-group text-right">
  <input class="loginBtn login_btn_custom" type="button" value="Submit &nbsp; &#x276f;" ng-click="vm.submitPackage()" />
  <input class="loginBtn" type="button" ng-click="vm.cancelEdit()" ng-show="vm.packageEdit" value="Cancel &nbsp; &#x276f;" />
</div>
</form>
</div>
</div>
<div class="row">
  <div class="packageDetailsBox tablestickyheader">
    <h5> Package Summary</h5>
    <div class="top-keyword-box table_green_styling">
      <table class="table table-bordered packageSummaryTable">
        <thead>
          <tr>
            <th>Keyword</th>
            <th>Package</th>
            <th>Days</th>
            <!--<th>Location</th>-->
            <!-- <th></th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in vm.addedPackages">
            <td>{{p.keywordName}}</td>
            <td>{{p.packageName}}</td>
            <td>{{p.packageDays}}</td>
            <!-- <td>{{p.location}}</td> -->
                                                    <!-- <td>
 <span ng-click="vm.editPackage(p)" class="fa fa-edit Editable"></span>
 <span confirmed-click="vm.deletePackage(p)" ng-confirm-click="Are you sure you want to delete?" class="fa fa-remove Editable"></span>
</td> -->
</tr>

</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</uib-tab>
</uib-tabset>
</div>
</div>
</div>