<style type="text/css">
img{
    margin: 5px;
}

.intro-block h1{
    margin: 10px;
}
</style>
<div class="main-container">
  <div class="container" style="min-height: 450px;">
      <!-- <h3 class="text-center">Certificates</h3> -->
       <div class="intro-block">
            <div class="intro">
                <h1>CERTIFICATES</h1>
            </div>
        </div>
      <div class="row text-center">
          <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="certi in certificates">
           <img ng-src="{{certi.url}}" height="80 " width="120" title="{{certi.title}}">
       </div>
   </div>
</div>
</div>
