<div class="main-container">
    <div class="container" style="min-height: 450px;">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h3 class="text-center">Change Password</h3>
            <div class="row">
                <br />
                <div ng-class="{'has-error': ((!vm.oldPassword || vm.oldPassword == '')  && vm.oldPasswordError) || vm.oldPasswordError}" class="pwd-input">
                <input type="password" ng-keyup="$event.keyCode == 9 || vm.validateForm('oldPasswrd')" name="old_pwd" id="oldpwd" ng-model="vm.oldPassword" class="form-control" placeholder="Old Password*">
                </div>
                <br />
                <div ng-class="{'has-error': ((!vm.newPassword || vm.newPassword == '')  && vm.newPasswordError) || vm.newPasswordError || vm.samePasswordError}" class="pwd-input">
                    <div ng-class="{'has-error': ((!vm.newPassword || vm.newPassword == '')  && vm.newPasswordError) || vm.newPasswordError}" class="pwd-input">
                        <input type="password" ng-keyup="$event.keyCode == 9 || vm.validateForm('newPasswrd')" name="pwd" id="pwd" ng-model="vm.newPassword" class="form-control" placeholder="New Password*" ng-focus="onselect = true" ng-blur="onselect = false" />
                        <span ng-show="onselect && !vm.samePasswordError">Password must contain at least 8 characters</span>
                        <span ng-show="vm.samePasswordError">Password Cannot be same as previous one.</span>
                        <span ng-show="(!!vm.newPassword && !vm.newPasswordError && !vm.samePasswordError)" class="fa fa-2x fa-thumbs-o-up"></span>
                    </div>
                    <div ng-class="{'has-error': (!vm.confNewPassword || vm.confNewPassword == '' || vm.confNewPassword != vm.newPassword)  && vm.confNewPasswordError}" class="pwd-input">
                        <input type="password" ng-keyup="$event.keyCode == 9 || vm.validateForm('cnfrmNewPass')" ng-model="vm.confNewPassword" class="form-control" placeholder="Confirm New Password*" />
                        <span ng-show="(!!vm.confNewPassword && !vm.confNewPasswordError)" class="fa fa-2x fa-thumbs-o-up"></span>
                    </div>
                    <br />
                    <div style="text-align: right;">
                        <input type="submit" ng-click="vm.submitForm()" class="loginBtn" value="Change" />
                    </div>
                </div>
            </div>
        </div>
    </div>