<div class="container main-container">
    <ul class="nav nav-tabs adminDashboard_tabs_wrap">
        <li class="active"><a ui-sref="adminDashboard">Dashboard</a></li>
        <li><a ui-sref="adminProfile">Profile</a></li>
    </ul>
    <div class="row rowsection">
        <div class="col-md-12 company_package_detail_wrap padding-tb0">
            <h2 class="section_title">Company Package Details</h2>
            <div class="ad_slider_outer_wrap carousel slide col-md-12" id="adminDashboard">
                <!-- <a class="col-md-1" data-slide="prev" href="#adminDashboard" class="company-package-slider-left company-slider"><img src="assets/images/arrow-left.png"></a> -->
                <div class="col-md-12 padding0">
                    <div class="carousel-inner">
                        <ul class="col-sm-12 adminDashboard_slider">
                            <li class="col-sm-2 col-md-2 padding0 adminDashboard_slider_block" ng-repeat="package in adminDashboardController.packageListingData | startFrom: adminDashboardController.currentPage * adminDashboardController.pageSize | limitTo: adminDashboardController.pageSize">
                                <div class="ad_sliderblock_row1">
                                    <div class="ad_sliderblock_pp">
                                        <img ng-src="{{package.url}}">
                                    </div>
                                    <div class="ad_sliderblock_nameblock">
                                        <p class="ad_sliderblock_name">{{package.userDetails.firstName}}&nbsp;{{package.userDetails.lastName}}</p>
                                        <p class="ad_sliderblock_phone">{{package.userDetails.phone}}</p>
                                        <div class="ad_sliderblock_flag"><img src="assets/images/india-icon.png"><span>India</span></div>
                                        <div class="ad_sliderblock_starrating">
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="ad_sliderblock_row2">
                                    <p class="ad_sliderblock_row2_title1">{{package.packageName}}</p>
                                    <p class="ad_sliderblock_row2_title2" ng-show="package.packageDaysRemaining > -1"><i style="font-size:30px;font-weight:normal;" aria-hidden="true"></i>{{package.packageDaysRemaining}}</p>
                                    <span>(Days Remaining)</span>
                                    <span class="ad_sliderblock_row2_title2" style="color: red;" ng-show="package.packageDaysRemaining < 0">Expired</span>
                                </div>
                                <div class="ad_sliderblock_row3">
                                    <p class="ad_sliderblock_row3_title1">Package Price</p>
                                    <p class="ad_sliderblock_row3_title2"><i style="font-size:20px;font-weight:normal;" class="fa fa-inr" aria-hidden="true"></i>{{package.savedTotalPrice}}</p>
                                </div>
                                <div class="ad_sliderdelete"><i class="fa fa-remove" aria-hidden="true" ng-click="adminDashboardController.deleteListedPackage(package)"></i></div>
                            </li>
                            <!-- <li class="col-sm-2 padding0 adminDashboard_slider_block">
                                <div class="ad_sliderblock_row1">
                                    <div class="ad_sliderblock_pp">
                                        <img src="assets/images/img1.png">
                                    </div>
                                    <div class="ad_sliderblock_nameblock">
                                        <p class="ad_sliderblock_name">Arnav Kadam</p>
                                        <p class="ad_sliderblock_phone">+91 9876543210</p>
                                        <div class="ad_sliderblock_flag"><img src="assets/images/india-icon.png"><span>India</span></div>
                                        <div class="ad_sliderblock_starrating">
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="ad_sliderblock_row2">
                                    <p class="ad_sliderblock_row2_title1">Golden Package</p>
                                    <p class="ad_sliderblock_row2_title2"><i style="font-size:30px;font-weight:normal;" class="fa fa-inr" aria-hidden="true"></i>5500</p>
                                </div>
                                <div class="ad_sliderblock_row3">
                                    <p class="ad_sliderblock_row3_title1">Package Balance</p>
                                    <p class="ad_sliderblock_row3_title2"><i style="font-size:20px;font-weight:normal;" class="fa fa-inr" aria-hidden="true"></i>1200</p>
                                </div>
                            </li>
                            <li class="col-sm-2 padding0 adminDashboard_slider_block">
                                <div class="ad_sliderblock_row1">
                                    <div class="ad_sliderblock_pp">
                                        <img src="assets/images/img1.png">
                                    </div>
                                    <div class="ad_sliderblock_nameblock">
                                        <p class="ad_sliderblock_name">Arnav Kadam</p>
                                        <p class="ad_sliderblock_phone">+91 9876543210</p>
                                        <div class="ad_sliderblock_flag"><img src="assets/images/india-icon.png"><span>India</span></div>
                                        <div class="ad_sliderblock_starrating">
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="ad_sliderblock_row2">
                                    <p class="ad_sliderblock_row2_title1">Golden Package</p>
                                    <p class="ad_sliderblock_row2_title2"><i style="font-size:30px;font-weight:normal;" class="fa fa-inr" aria-hidden="true"></i>5500</p>
                                </div>
                                <div class="ad_sliderblock_row3">
                                    <p class="ad_sliderblock_row3_title1">Package Balance</p>
                                    <p class="ad_sliderblock_row3_title2"><i style="font-size:20px;font-weight:normal;" class="fa fa-inr" aria-hidden="true"></i>1200</p>
                                </div>
                            </li>
                            <li class="col-sm-2 padding0 adminDashboard_slider_block">
                                <div class="ad_sliderblock_row1">
                                    <div class="ad_sliderblock_pp">
                                        <img src="assets/images/img1.png">
                                    </div>
                                    <div class="ad_sliderblock_nameblock">
                                        <p class="ad_sliderblock_name">Arnav Kadam</p>
                                        <p class="ad_sliderblock_phone">+91 9876543210</p>
                                        <div class="ad_sliderblock_flag"><img src="assets/images/india-icon.png"><span>India</span></div>
                                        <div class="ad_sliderblock_starrating">
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="ad_sliderblock_row2">
                                    <p class="ad_sliderblock_row2_title1">Golden Package</p>
                                    <p class="ad_sliderblock_row2_title2"><i style="font-size:30px;font-weight:normal;" class="fa fa-inr" aria-hidden="true"></i>5500</p>
                                </div>
                                <div class="ad_sliderblock_row3">
                                    <p class="ad_sliderblock_row3_title1">Package Balance</p>
                                    <p class="ad_sliderblock_row3_title2"><i style="font-size:20px;font-weight:normal;" class="fa fa-inr" aria-hidden="true"></i>1200</p>
                                </div>
                            </li>
                            <li class="col-sm-2 padding0 adminDashboard_slider_block">
                                <div class="ad_sliderblock_row1">
                                    <div class="ad_sliderblock_pp">
                                        <img src="assets/images/img1.png">
                                    </div>
                                    <div class="ad_sliderblock_nameblock">
                                        <p class="ad_sliderblock_name">Arnav Kadam</p>
                                        <p class="ad_sliderblock_phone">+91 9876543210</p>
                                        <div class="ad_sliderblock_flag"><img src="assets/images/india-icon.png"><span>India</span></div>
                                        <div class="ad_sliderblock_starrating">
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="ad_sliderblock_row2">
                                    <p class="ad_sliderblock_row2_title1">Golden Package</p>
                                    <p class="ad_sliderblock_row2_title2"><i style="font-size:30px;font-weight:normal;" class="fa fa-inr" aria-hidden="true"></i>5500</p>
                                </div>
                                <div class="ad_sliderblock_row3">
                                    <p class="ad_sliderblock_row3_title1">Package Balance</p>
                                    <p class="ad_sliderblock_row3_title2"><i style="font-size:20px;font-weight:normal;" class="fa fa-inr" aria-hidden="true"></i>1200</p>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <button class="adminDashboard_prevbtn" ng-disabled="adminDashboardController.currentPage == 0" ng-click="adminDashboardController.currentPage=adminDashboardController.currentPage-1">
                    Previous
                </button>
                <!-- {{adminDashboardController.currentPage+1}}/{{adminDashboardController.numberOfPages()}} -->
                <button class="adminDashboard_nxtbtn" ng-disabled="adminDashboardController.currentPage >= adminDashboardController.packageListingData.length/adminDashboardController.pageSize - 1" ng-click="adminDashboardController.currentPage=adminDashboardController.currentPage+1">
                    Next
                </button>
                <!-- <a class="col-md-1" data-slide="next" href="#adminDashboard" class="company-package-slider-right company-slider"><img style="float:right;" src="assets/images/arrow-right.png"></a> -->
                <!-- <nav>
					<ul class="control-box pager">
						<li><a data-slide="prev" href="#adminDashboard" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
						<li><a data-slide="next" href="#adminDashboard" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
					</ul>
				</nav> -->
            </div>
        </div>
    </div>

    <div class="row rowsection">
        <div class="col-md-12">
            <h3 class="section_title">Top 30 keywords</h3>
            <div class="col-md-12 greyBackground top30keywords_wrap tablestickyheader">
                <div class="whiteBackground top-keyword-box table_green_styling">
                    <table class="table table-stripped table-bordered">
                        <thead>
                            <tr>
                                <th ng-repeat="header in adminDashboardController.topThirtyKeywordHeaders">{{header}}</th>
                                <!-- <th>#</th>
								<th>Keyword</th>
								<th>Categories</th>
								<th>Rank</th>
								<th>Count</th>
								<th>Price</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="keyword in adminDashboardController.topKeywordsData">
                                <td scope="row"> {{$index +1}}</td>
                                <td>{{ keyword.keywordName }}</td>
                                <td>{{ keyword.categoryName }}</td>
                                <td>{{ $index + 1 }}</td>
                                <td>{{ keyword.count }}</td>
                                <td>{{ keyword.price | currency:"&#8377;" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row rowsection">
        <div class="col-md-6">
            <h3 class="section_title">Top 50 Companies Contacted</h3>
            <div class="col-md-12 greyBackground top30Companies_wrap tablestickyheader">
                <div class="whiteBackground top-keyword-box table_green_styling">
                    <table class="table table-stripped table-bordered">
                        <thead>
                            <tr>
                                <th ng-repeat="header in adminDashboardController.topThirtyCompaniesHeaders">{{header}}</th>
                                <!-- <th>#</th>
						  <th>Keywork</th>
						  <th>Categories</th>
						  <th>Rank</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td colspan="2">
                                <div class="scrollit">
                                    <table>
                                        <tr ng-repeat="company in adminDashboardController.topCompaniesData">
                                            <td>{{company.companyName}}</td>
                                            <td><a href="" ng-click="adminDashboardController.openBuyerDisplayModal(company)">{{company.contactCount}}</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>

                        <!-- <tr ng-repeat="company in adminDashboardController.topCompaniesData">
                            <td>{{company.companyName}}</td>
                            <td><a href="" ng-click="adminDashboardController.openBuyerDisplayModal(company)">{{company.contactCount}}</a></td>
                        </tr> -->
                            <!-- <tr ng-repeat = "keyword in topCompany.keywords" >
								<th scope="row">  {{$index +1}}</th>
								<td>{{ keyword.keyword_name }}</td>
								<td>{{ keyword.categories }}</td>
								<td>{{ keyword.rank }}</td>
							</tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="section_title">Top 50 Companies By Average Ratings</h3>
            <div class="col-md-12 greyBackground top30Companies_wrap tablestickyheader">
                <div class="whiteBackground top-keyword-box table_green_styling">
                    <table class="table table-stripped table-bordered">
                        <thead>
                            <tr>
                                <th ng-repeat="header in adminDashboardController.topCompaniesByRatingsHeader">{{header}}</th>
                                <!-- <th>#</th>
						  <th>Keywork</th>
						  <th>Categories</th>
						  <th>Rank</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="company in adminDashboardController.topCompaniesRatingsData">
                            <td>{{company.companyName}}</td>
                            <td>{{company.avgRating}}</td>
                        </tr>
                            <!-- <tr ng-repeat = "keyword in topCompany.keywords" >
								<th scope="row">  {{$index +1}}</th>
								<td>{{ keyword.keyword_name }}</td>
								<td>{{ keyword.categories }}</td>
								<td>{{ keyword.rank }}</td>
							</tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row rowsection">
		<div class="col-md-12 top_Rated_Companies">
			<h3 class="section_title">Top 30 Companies Contacted</h3>
		</div>
	</div> -->
    <!-- <div class="row rowsection">
        <div class="col-md-12 number_of_contractors_loc">
            <h3 class="section_title">Number of contractors based on location</h3>
        </div>
    </div> -->

    <div class="row rowsection">
        <div class="col-md-12">
            <h3 class="section_title">Registration Count Country Wise</h3>
            <div class="col-md-12">
                <div class="whiteBackground" style="text-align: center;">
                    <div style="padding: 1em;">
                        <datamap map="adminDashboardController.usersMapConfig"></datamap>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row rowsection">
        <div class="col-md-12">
            <h3 class="section_title">Traction of Users</h3>
            <div class="col-md-12">
                <div class="whiteBackground" style="text-align: center;">
                    <div style="padding: 1em;">
                        <datamap map="adminDashboardController.usersHitsMapConfig"></datamap>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>