<div class="modal-header">
    <h3 class="modal-title" id="modal-title">List Companies Contacted</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="home-pro-ser-modal" style="border: 0;">
        <table class="table table-bordered">
            <thead class="background_lg">
                <tr>
                    <th class="color_lg">Company Names</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">
                        <input type="text" class="input-sm form-control" placeholder="Search {{type}}.." ng-model="filterText" />
                        <label ng-hide="buyerResult.length > 0">No Buyers Available</label>
                    </td>
                </tr>
                <tr ng-repeat="buyer in adminDashboardController.selectedCompany.buyerInfo | filter: filterText as buyerResult">
                    <td>
                        {{buyer.companyName || "My Company"}} ( Contacted : {{buyer.contactCount}} time<span ng-if="buyer.contactCount != 1">s</span>)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn cancel_btn_custom" type="button" ng-click="adminDashboardController.modalInstance.dismiss()">Cancel</button>
</div>
